ai_video_bot_v7_MASTER.json
{"name":"AI Video Bot v6 - Superflow FINAL","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}},"name":"Daily 9AM Auto-Run","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[752,-192],"id":"965b32c0-3c78-491b-b211-6f4ebbc23db6"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * 1"}]}},"name":"Weekly Monday Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[752,-80],"id":"da65fe3a-9a72-4fa7-a562-a2f8464e0fb3"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * *"}]}},"name":"Daily 8AM Health Check","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[752,48],"id":"b089cfff-0b1e-4e6a-abc8-1f5250fc46b4"},{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"name":"Telegram Listener","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[752,176],"id":"92fa6a8e-4b19-4068-b6d2-160550ad3d96","webhookId":"9e21d94b-4691-4888-a2cc-c7479a1b2572","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"httpMethod":"POST","path":"whatsapp-cmd","responseMode":"lastNode","options":{}},"name":"WhatsApp Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[752,288],"id":"ee7b926e-1ad4-4813-a392-b2341bef5134","webhookId":"219d64af-24ea-4f7e-936a-77a404c6a73c"},{"parameters":{"jsCode":"const item = $input.first().json;\nlet cmd = '', chatId = '', src = '', fileId = '', fileType = '';\n\nif (item.message) {\n  const msg = item.message;\n  cmd = (msg.text || msg.caption || '').trim();\n  chatId = String(msg.chat.id);\n  src = 'telegram';\n  if (msg.video) { fileId = msg.video.file_id; fileType = 'video'; }\n  else if (msg.document) { fileId = msg.document.file_id; fileType = 'document'; }\n  else if (msg.photo) { fileId = msg.photo[msg.photo.length-1].file_id; fileType = 'photo'; }\n} else if (item.callback_query) {\n  cmd = (item.callback_query.data || '').trim();\n  chatId = String(item.callback_query.message.chat.id);\n  src = 'telegram_callback';\n} else if (item.Body) {\n  cmd = (item.Body || '').trim();\n  chatId = item.From || '';\n  src = 'whatsapp';\n} else if (item.entry) {\n  const msg = item.entry?.[0]?.changes?.[0]?.value?.messages?.[0];\n  cmd = (msg?.text?.body || '').trim();\n  chatId = msg?.from || '';\n  src = 'whatsapp_cloud';\n} else {\n  cmd = 'CREATE'; chatId = '8370599696' || ''; src = 'schedule';\n}\n\nconst cmdUpper = cmd.toUpperCase();\nlet action = 'HELP', customTopic = '', niche = 'general', editInstructions = '';\nlet lang = '', voicetestTopic = '', dramaTitle = '', seriesName = '', seriesEp = '';\nlet thumbnailPick = 0, qualityMode = 'normal', budgetMode = 'auto';\nlet modelAction = '', modelName = '', modelScene = '';\n\nif (fileId && fileType === 'video') {\n  action = 'EDIT_MY_VIDEO';\n  editInstructions = cmdUpper.startsWith('EDIT:') ? cmd.replace(/EDIT:/i, '').trim() : 'enhance and make viral';\n}\nelse if (['CREATE','GO','MAKE','AUTO'].includes(cmdUpper)) { action = 'CREATE'; }\nelse if (cmdUpper.startsWith('TOPIC:')) { action = 'CREATE'; let t = cmd.replace(/TOPIC:/i,'').trim(); const qm = t.match(/\\s+QUALITY:(HIGH|NORMAL|LOW)$/i); if (qm) { qualityMode = qm[1].toLowerCase(); t = t.replace(/\\s+QUALITY:(HIGH|NORMAL|LOW)$/i,'').trim(); } customTopic = t; }\nelse if (cmdUpper.startsWith('NICHE:')) { action = 'CREATE'; niche = cmd.replace(/NICHE:/i,'').trim(); }\nelse if (cmdUpper === 'QUALITY:HIGH' || cmdUpper === 'QUALITY:HIGH CREATE') { action = 'CREATE'; qualityMode = 'high'; }\nelse if (cmdUpper === 'BUDGET:FREE' || cmdUpper === 'BUDGET:FREE CREATE') { action = 'CREATE'; budgetMode = 'free'; }\nelse if (cmdUpper.startsWith('BUDGET:FREE TOPIC:')) { action = 'CREATE'; budgetMode = 'free'; customTopic = cmd.replace(/BUDGET:FREE TOPIC:/i,'').trim(); }\nelse if (cmdUpper === 'LANG:HINDI' || cmdUpper === 'LANG:HINDI CREATE') { action = 'LANG_HINDI'; lang = 'hindi'; }\nelse if (cmdUpper.startsWith('LANG:HINDI TOPIC:')) { action = 'LANG_HINDI'; lang = 'hindi'; customTopic = cmd.replace(/LANG:HINDI TOPIC:/i,'').trim(); }\nelse if (cmdUpper === 'LANG:SPANISH CREATE' || cmdUpper === 'LANG:SPANISH') { action = 'CREATE'; lang = 'spanish'; }\nelse if (cmdUpper.startsWith('DRAMA:')) { action = 'DRAMA'; dramaTitle = cmd.replace(/DRAMA:/i,'').trim(); }\nelse if (cmdUpper.startsWith('SERIES:')) {\n  action = 'DRAMA';\n  const m = cmd.match(/SERIES:\\s*(.+?)\\s+EP(\\d+)/i);\n  if (m) { seriesName = m[1]; seriesEp = m[2]; }\n  dramaTitle = cmd.replace(/SERIES:/i,'').trim();\n}\nelse if (cmdUpper.startsWith('VOICETEST:')) { action = 'VOICETEST'; voicetestTopic = cmd.replace(/VOICETEST:/i,'').trim() || 'ancient india'; }\nelse if (cmdUpper === 'VOICE REPORT') { action = 'VOICE_REPORT'; }\nelse if (cmdUpper.startsWith('THUMBNAIL:')) { action = 'THUMBNAIL_PICK'; thumbnailPick = parseInt(cmd.replace(/THUMBNAIL:/i,'').trim()) || 1; }\nelse if (cmdUpper === 'STATUS') { action = 'STATUS'; }\nelse if (cmdUpper === 'PAUSE') { action = 'PAUSE'; }\nelse if (cmdUpper === 'RESUME') { action = 'RESUME'; }\nelse if (cmdUpper === 'COST') { action = 'COST'; }\nelse if (cmdUpper === 'SECURITY LOG') { action = 'SECURITY_LOG'; }\nelse if (cmdUpper === 'PUBLISH' || cmdUpper === 'YES') { action = 'PUBLISH'; }\nelse if (cmdUpper === 'REJECT' || cmdUpper === 'NO') { action = 'REJECT'; }\nelse if (cmdUpper.startsWith('EDIT:')) { action = 'EDIT'; editInstructions = cmd.replace(/EDIT:/i,'').trim(); }\nelse if (cmdUpper === 'HELP' || cmdUpper === 'START' || cmdUpper === '/START') { action = 'HELP'; }\nelse if (cmdUpper.startsWith('MODEL:')) {\n  action = 'MODEL';\n  const modelStr = cmd.replace(/MODEL:/i, '').trim();\n  if (!modelStr || modelStr.toUpperCase() === 'LIST') {\n    modelAction = 'LIST'; modelName = ''; modelScene = '';\n  } else {\n    const nameMatch = modelStr.match(/^(\\w+)\\s*(.*)/);\n    modelName = (nameMatch ? nameMatch[1] : modelStr).toUpperCase();\n    modelScene = nameMatch ? (nameMatch[2] || modelStr) : modelStr;\n    modelAction = 'GENERATE';\n  }\n}\n\nreturn [{ json: { action, cmd, cmdUpper, customTopic, niche, chatId, src, fileId, fileType, editInstructions, lang, voicetestTopic, dramaTitle, seriesName, seriesEp, thumbnailPick, qualityMode, budgetMode, modelAction, modelName, modelScene, ts: new Date().toISOString() } }];"},"name":"Command Parser v6","type":"n8n-nodes-base.code","typeVersion":2,"position":[992,176],"id":"00f76b9f-23fa-495d-8b86-8f48c80721a9"},{"parameters":{"jsCode":"const item = $input.first().json;\nconst chatId = String(item.chatId || '');\nconst ALLOWED_ID = '8370599696';\nconst src = item.src || '';\n\nconst stored = $getWorkflowStaticData('global');\nif (!stored.securityLog) stored.securityLog = [];\nif (!stored.dailyCount) stored.dailyCount = {};\nif (stored.paused === undefined) stored.paused = false;\nif (!stored.monthlyCost) stored.monthlyCost = 0;\nif (!stored.costLog) stored.costLog = [];\n\nconst logEntry = { ts: new Date().toISOString(), chatId, src, action: item.action, cmd: item.cmd };\n\nif (stored.paused && item.action !== 'RESUME' && item.action !== 'STATUS') {\n  logEntry.blocked = true; logEntry.reason = 'workflow_paused';\n  stored.securityLog.unshift(logEntry);\n  if (stored.securityLog.length > 100) stored.securityLog = stored.securityLog.slice(0,100);\n  return [{ json: { ...item, blocked: true, blockReason: 'workflow_paused' } }];\n}\n\nif (stored.monthlyCost > 100 && item.action === 'CREATE') {\n  logEntry.blocked = true; logEntry.reason = 'monthly_budget_exceeded';\n  stored.securityLog.unshift(logEntry);\n  if (stored.securityLog.length > 100) stored.securityLog = stored.securityLog.slice(0,100);\n  return [{ json: { ...item, blocked: true, blockReason: 'monthly_budget_exceeded', sendAlert: true } }];\n}\n\nif ((src === 'telegram' || src === 'telegram_callback') && chatId !== ALLOWED_ID) {\n  logEntry.blocked = true; logEntry.reason = 'unauthorized_user'; logEntry.alert = true;\n  stored.securityLog.unshift(logEntry);\n  if (stored.securityLog.length > 100) stored.securityLog = stored.securityLog.slice(0,100);\n  return [{ json: { ...item, blocked: true, blockReason: 'unauthorized_user', sendAlert: true } }];\n}\n\nconst today = new Date().toISOString().split('T')[0];\nif (!stored.dailyCount[today]) stored.dailyCount[today] = 0;\n\nif (item.action === 'CREATE' && stored.dailyCount[today] >= 10) {\n  logEntry.blocked = true; logEntry.reason = 'rate_limit';\n  stored.securityLog.unshift(logEntry);\n  if (stored.securityLog.length > 100) stored.securityLog = stored.securityLog.slice(0,100);\n  return [{ json: { ...item, blocked: true, blockReason: 'rate_limit_10_per_day' } }];\n}\n\nif (item.action === 'CREATE') stored.dailyCount[today]++;\n\nlogEntry.blocked = false;\nstored.securityLog.unshift(logEntry);\nif (stored.securityLog.length > 100) stored.securityLog = stored.securityLog.slice(0,100);\n\nreturn [{ json: { ...item, blocked: false, todayCount: stored.dailyCount[today] || 0 } }];"},"name":"Security Gate","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,176],"id":"3a1739fa-670e-46ed-94b4-775153c0490c"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"blocked","leftValue":"={{ $json.blocked }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is Blocked?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1392,176],"id":"6e1a6ee4-6cce-4a99-a4d3-c5176d10e7e4"},{"parameters":{"chatId":"8370599696","text":"SECURITY ALERT\n\nBlocked request:\nReason: {{ $json.blockReason }}\nFrom: {{ $json.chatId }}\nCommand: {{ $json.cmd }}\nTime: {{ $json.ts }}\n\nSend SECURITY LOG to review all events.","additionalFields":{}},"name":"Security Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1600,32],"id":"a28a3795-cf9f-421f-b3aa-43d9cf148da8","webhookId":"0f3f8802-603c-4c28-861c-52d965e7d939","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"create","leftValue":"={{ $json.action }}","rightValue":"CREATE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is CREATE?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1600,288],"id":"7d548ad0-16b5-47a8-b3e8-74e816fd401d"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"edit","leftValue":"={{ $json.action }}","rightValue":"EDIT_MY_VIDEO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is MY VIDEO EDIT?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1792,400],"id":"44c73ab6-ac65-4ac6-8e50-7c8d2c341a46"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"pub","leftValue":"={{ $json.action }}","rightValue":"PUBLISH","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is PUBLISH?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2000,496],"id":"9c27f185-bbcd-4c8a-9705-8c37c7a428b0"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"drama","leftValue":"={{ $json.action }}","rightValue":"DRAMA","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is DRAMA SERIES?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2192,592],"id":"7612f1fe-9c15-4741-aac7-f71ee4d64960"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"vt","leftValue":"={{ $json.action }}","rightValue":"VOICETEST","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is VOICETEST?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2400,688],"id":"a70f8520-2e2b-4b23-b0d9-eb5e86c4911f"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"hindi","leftValue":"={{ $json.action }}","rightValue":"LANG_HINDI","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is LANG HINDI?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2592,800],"id":"f74a0558-8a72-4bb6-bd5f-d189207bd7f0"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"status","leftValue":"={{ $json.action }}","rightValue":"STATUS","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is STATUS?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2800,896],"id":"83c078b2-aae2-43b7-af8e-64c53167f270"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"pause","leftValue":"={{ $json.action }}","rightValue":"PAUSE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is PAUSE?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2992,992],"id":"60ef4694-d3a2-46d2-af9e-5c323733f12a"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"resume","leftValue":"={{ $json.action }}","rightValue":"RESUME","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is RESUME?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3200,1088],"id":"34d5c627-5f90-4e22-8c76-0e07bbcd0b2e"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cost","leftValue":"={{ $json.action }}","rightValue":"COST","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is COST?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3392,1200],"id":"e1b5fafd-90f1-4567-b35f-ec925d40620f"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"seclog","leftValue":"={{ $json.action }}","rightValue":"SECURITY_LOG","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is SECURITY LOG?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3600,1296],"id":"e8a9d808-bf83-41fb-a8b8-9ded95d226eb"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"vrpt","leftValue":"={{ $json.action }}","rightValue":"VOICE_REPORT","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is VOICE REPORT?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3792,1392],"id":"6a8fa26d-54bf-465a-b2dd-1123ad3c9079"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"thpick","leftValue":"={{ $json.action }}","rightValue":"THUMBNAIL_PICK","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is THUMBNAIL PICK?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[4000,1488],"id":"42f700cd-ae0b-4313-9170-193ec08a1d7a"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"reject","leftValue":"={{ $json.action }}","rightValue":"REJECT","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is REJECT?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[4192,1600],"id":"1212086e-edbb-4a16-8844-8bb9b6803594"},{"parameters":{"jsCode":"const data = $input.first().json;\n\nlet memory = {};\ntry {\n  const stored = $getWorkflowStaticData('global');\n  memory = stored.videoMemory || {};\n} catch(e) { memory = {}; }\n\nif (!memory.totalVideos) memory.totalVideos = 0;\nif (!memory.lastTopics) memory.lastTopics = [];\nif (!memory.nichePerformance) memory.nichePerformance = {};\nif (!memory.preferredStyle) memory.preferredStyle = 'cinematic documentary';\nif (!memory.bestPerformingNiche) memory.bestPerformingNiche = 'general';\nif (!memory.channelName) memory.channelName = 'Empires Untold';\nif (!memory.defaultVoice) memory.defaultVoice = 'Max';\nif (!memory.voicePerformance) memory.voicePerformance = {};\nif (!memory.bestVoicePerNiche) memory.bestVoicePerNiche = {};\nif (!memory.totalCost) memory.totalCost = 0;\nif (!memory.seriesData) memory.seriesData = {};\nif (!memory.qualityScores) memory.qualityScores = [];\n\nmemory.totalVideos += 1;\n\nconst topic = data.customTopic || 'auto';\nmemory.lastTopics.unshift(topic);\nif (memory.lastTopics.length > 20) memory.lastTopics = memory.lastTopics.slice(0,20);\n\nconst niche = data.niche || 'general';\nif (!memory.nichePerformance[niche]) memory.nichePerformance[niche] = { count: 0, avgViews: 0 };\nmemory.nichePerformance[niche].count += 1;\n\nlet bestNiche = 'general', bestCount = 0;\nfor (const [n, s] of Object.entries(memory.nichePerformance)) {\n  if (s.count > bestCount) { bestNiche = n; bestCount = s.count; }\n}\nmemory.bestPerformingNiche = bestNiche;\n\nif (data.seriesName) {\n  if (!memory.seriesData[data.seriesName]) memory.seriesData[data.seriesName] = { episodes: 0, lastEp: 0 };\n  memory.seriesData[data.seriesName].episodes += 1;\n  memory.seriesData[data.seriesName].lastEp = parseInt(data.seriesEp || 1);\n}\n\ntry {\n  const stored = $getWorkflowStaticData('global');\n  stored.videoMemory = memory;\n} catch(e) {}\n\nreturn [{ json: {\n  ...data,\n  memory: {\n    totalVideos: memory.totalVideos,\n    recentTopics: memory.lastTopics.slice(0,5),\n    bestNiche: memory.bestPerformingNiche,\n    preferredStyle: memory.preferredStyle,\n    channelName: memory.channelName,\n    avoidRepeat: memory.lastTopics.slice(0,3),\n    defaultVoice: memory.defaultVoice,\n    bestVoicePerNiche: memory.bestVoicePerNiche,\n    totalCost: memory.totalCost,\n    seriesData: memory.seriesData,\n    qualityScores: memory.qualityScores.slice(0,10)\n  }\n}}];"},"name":"Memory & Taste Tracker v6","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,128],"id":"5bc29d41-fb24-44cf-a323-d2ad0a4c38d8"},{"parameters":{"chatId":"={{ $json.chatId || '8370599696' }}","text":"AI Video Bot v6 Superflow - Commands\n\nCREATE - Auto video on trending topic\nTOPIC: [text] - Specific topic\nNICHE: [text] - Set category\nQUALITY:HIGH - Force 9+ quality score\nBUDGET:FREE - Free tools only\n\nLANGUAGE:\nLANG:HINDI CREATE - Hindi video (Taksh voice)\nLANG:HINDI TOPIC: [text] - Hindi on topic\nLANG:SPANISH CREATE - Spanish video\n\nVOICE:\nVOICETEST: [topic] - 30sec clip all 4 voices\nVOICE REPORT - Voice performance stats\n\nTHUMBNAIL:\nTHUMBNAIL:1 / :2 / :3 - Pick thumbnail option\n\nDRAMA / SERIES:\nDRAMA: [topic] - Cinematic drama style\nSERIES: [name] EP[number] - Episode series\n\nAPPROVAL:\nPUBLISH - Post to all 7 platforms\nREJECT - Discard video\nEDIT: [notes] - Redo with changes\n\nSYSTEM:\nSTATUS - System health + stats\nCOST - Monthly spend report\nPAUSE - Halt all scheduled runs\nRESUME - Restart scheduled runs\nSECURITY LOG - Recent security events\n\nUpload YOUR OWN VIDEO with a caption:\n- EDIT: make this cinematic\n- EDIT: add dramatic captions\n- (no caption) = auto-enhance\n\nPlatforms: YouTube, Shorts, TikTok, Instagram, Facebook, Snapchat","additionalFields":{},"jsCode":"const https = require('https');\nconst d = $input.first().json;\nconst BOT_TOKEN = 'YOUR_TELEGRAM_BOT_TOKEN';\nconst CHAT_ID = '8370599696';\nconst msg = `🎬 EMPIRES UNTOLD BOT COMMANDS\n\nCONTENT CREATION:\nTOPIC: [topic] — Auto-generate video\nTOPIC: [topic] QUALITY:HIGH — Force premium quality\nDRAMA: [plot] — Drama series episode\nVOICETEST: [text] — Test voice options\nLANG: HINDI — Generate in Hindi\n\n🤖 AI MODEL COMMANDS:\nMODEL: LIST — See all AI models\nMODEL: AISHA [scene] — Fashion & Luxury (Instagram)\nMODEL: SOFIA [scene] — Fitness & Health (TikTok)\nMODEL: LUNA [scene] — Travel & Adventure (YouTube Shorts)\nMODEL: MAYA [scene] — Luxury Lifestyle (Instagram)\nMODEL: ZARA [scene] — Casual Lifestyle (TikTok)\nMODEL: CUSTOM [description] — Custom model\n\nExamples:\nMODEL: AISHA walking Dubai Mall red dress golden hour\nMODEL: SOFIA morning run Malibu beach sunrise\nMODEL: LUNA exploring Tokyo night market\n\nAPPROVAL:\nPUBLISH — Post to all platforms\nREJECT — Discard current video\nEDIT: [notes] — Redo with changes\nTHUMBNAIL:1/2/3 — Pick thumbnail\n\nCONTROL:\nSTATUS / PAUSE / RESUME / COST / HELP`;\n\nconst body = JSON.stringify({ chat_id: CHAT_ID, text: msg });\nawait new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'api.telegram.org',\n    path: `/bot${BOT_TOKEN}/sendMessage`,\n    method: 'POST',\n    headers: { 'content-type': 'application/json', 'content-length': Buffer.byteLength(body) }\n  }, res => { let r=''; res.on('data',c=>r+=c); res.on('end',()=>resolve()); });\n  req.on('error', reject); req.write(body); req.end();\n});\nreturn [{ json: { ...d, sent: true } }];"},"name":"Send Help v6","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4400,1712],"id":"185eb996-bf79-4654-a64d-8d3245859ba5","webhookId":"76752ffc-df46-4d49-9853-5beaf64fb8a0","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $json.chatId || '8370599696' }}","text":"Video rejected. Send CREATE or upload your own video to start again.","additionalFields":{}},"name":"Reject Notify","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4400,1520],"id":"d0e550cf-f3f7-49a5-a8b4-e7a6c174777f","webhookId":"dd375d92-ae31-40e5-9b7c-6b6f4afce3ee","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nconst memory = stored.videoMemory || {};\nconst today = new Date().toISOString().split('T')[0];\nconst todayCount = (stored.dailyCount || {})[today] || 0;\nconst monthlyCost = stored.monthlyCost || 0;\nconst paused = stored.paused || false;\nconst alertLog = stored.securityLog || [];\nconst lastAlert = alertLog.find(e => e.alert) || null;\n\nconst statusMsg = `AI Video Bot v6 - System Status\\n\\n` +\n  `Status: ${paused ? 'PAUSED ?' : 'RUNNING'}\\n` +\n  `Videos Today: ${todayCount}/10\\n` +\n  `Total Videos All Time: ${memory.totalVideos || 0}\\n` +\n  `Monthly Spend: $${monthlyCost.toFixed(2)} / $80 budget\\n` +\n  `Auto-Pause Limit: $100\\n\\n` +\n  `Best Niche: ${memory.bestPerformingNiche || 'general'}\\n` +\n  `Default Voice: ${memory.defaultVoice || 'Max'}\\n` +\n  `Channel: ${memory.channelName || 'Empires Untold'}\\n\\n` +\n  `Last Security Alert: ${lastAlert ? lastAlert.ts + ' - ' + lastAlert.reason : 'None'}\\n\\n` +\n  `APIs Ready: Anthropic, ElevenLabs, fal.ai, OpenAI, Creatomate, Pexels, Google AI Studio\\n` +\n  `Send STATUS anytime to refresh.`;\n\nreturn [{ json: { ...($input.first().json), statusMsg } }];"},"name":"Status Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[2992,752],"id":"ad4ba29d-cb0c-4bff-b3c2-d03863d7da0f"},{"parameters":{"chatId":"={{ $json.chatId || '8370599696' }}","text":"={{ $json.statusMsg }}","additionalFields":{}},"name":"Send Status","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3200,752],"id":"94c4ebff-2c18-423d-9e21-44919c3de4a5","webhookId":"c61102b0-e56e-46fb-bfe3-ba5e68a14ef4","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nstored.paused = true;\nstored.pausedAt = new Date().toISOString();\nreturn [{ json: { ...($input.first().json), paused: true, msg: 'Workflow PAUSED. All scheduled runs halted. Daily 9AM auto-run stopped. Send RESUME to restart.' } }];"},"name":"Pause Handler","type":"n8n-nodes-base.code","typeVersion":2,"position":[3200,896],"id":"75766c09-5df2-4d21-9a6a-44255aa5cfbd"},{"parameters":{"chatId":"={{ $json.chatId || '8370599694' }}","text":"={{ $json.msg }}","additionalFields":{}},"name":"Send Pause Confirm","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3392,896],"id":"48d49557-3cae-4ffa-9cfe-ed51cbf632dc","webhookId":"123a725e-233f-43c5-90a8-483a4f7bc367","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nstored.paused = false;\nstored.resumedAt = new Date().toISOString();\nreturn [{ json: { ...($input.first().json), paused: false, msg: 'Workflow RESUMED! All systems operational. Daily auto-runs will continue normally.' } }];"},"name":"Resume Handler","type":"n8n-nodes-base.code","typeVersion":2,"position":[3392,992],"id":"e93cb99e-1ccd-4fb6-921f-f3f73582e2e0"},{"parameters":{"chatId":"={{ $json.chatId || '8370599694' }}","text":"={{ $json.msg }}","additionalFields":{}},"name":"Send Resume Confirm","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3600,992],"id":"c0d64ca1-0fac-4731-b9d2-78b7ba6ddd49","webhookId":"6fc004ce-2990-4492-b7c7-f494a17506c2","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nconst monthlyCost = stored.monthlyCost || 0;\nconst costLog = stored.costLog || [];\nconst thisMonth = new Date().toISOString().slice(0,7);\n\nconst monthlyEntries = costLog.filter(e => e.date && e.date.startsWith(thisMonth));\nconst byApi = { anthropic: 0, elevenlabs: 0, openai: 0, fal: 0, creatomate: 0 };\nmonthlyEntries.forEach(e => {\n  byApi.anthropic += e.anthropic || 0;\n  byApi.elevenlabs += e.elevenlabs || 0;\n  byApi.openai += e.openai || 0;\n  byApi.fal += e.fal || 0;\n  byApi.creatomate += e.creatomate || 0;\n});\n\nconst avgCost = monthlyEntries.length > 0 ? (monthlyCost / monthlyEntries.length).toFixed(2) : '0.00';\nconst budgetPct = ((monthlyCost / 80) * 100).toFixed(0);\n\nconst costReport = `Monthly Cost Report - ${thisMonth}\\n\\n` +\n  `Total Spent: $${monthlyCost.toFixed(2)} (${budgetPct}% of $80 budget)\\n` +\n  `Avg Per Video: $${avgCost}\\n` +\n  `Videos This Month: ${monthlyEntries.length}\\n\\n` +\n  `Breakdown:\\n` +\n  `Claude (Anthropic): $${byApi.anthropic.toFixed(2)}\\n` +\n  `ElevenLabs: $${byApi.elevenlabs.toFixed(2)}\\n` +\n  `DALL-E (OpenAI): $${byApi.openai.toFixed(2)}\\n` +\n  `Kling (fal.ai): $${byApi.fal.toFixed(2)}\\n` +\n  `Creatomate: $${byApi.creatomate.toFixed(2)}\\n\\n` +\n  `Budget Alert: $80 | Auto-Pause: $100`;\n\nreturn [{ json: { ...($input.first().json), costReport } }];"},"name":"Cost Report Handler","type":"n8n-nodes-base.code","typeVersion":2,"position":[3600,1088],"id":"e3d90609-46b1-4798-b5a8-7280a3b6271c"},{"parameters":{"chatId":"={{ $json.chatId || '8370599694' }}","text":"={{ $json.costReport }}","additionalFields":{}},"name":"Send Cost Report","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3792,1088],"id":"3d054a4d-f0ba-4822-9494-f5753266cbc4","webhookId":"05a5a669-fd91-4484-ab8d-3b7e66c08a4d","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nconst log = (stored.securityLog || []).slice(0,20);\nlet msg = 'Security Log - Last 20 Events:\\n\\n';\nif (log.length === 0) {\n  msg += 'No events recorded yet.';\n} else {\n  log.forEach((e, i) => {\n    const time = e.ts ? e.ts.slice(5,19).replace('T',' ') : '?';\n    const status = e.blocked ? `BLOCKED [${e.reason || 'unknown'}]` : 'OK';\n    msg += `${i+1}. [${time}] ${e.action || e.cmd || 'cmd'} from ${e.chatId || '?'} (${e.src || '?'}) - ${status}\\n`;\n  });\n}\nreturn [{ json: { ...($input.first().json), securityLogMsg: msg } }];"},"name":"Security Log Handler","type":"n8n-nodes-base.code","typeVersion":2,"position":[3792,1200],"id":"2dc939b3-95e3-47f3-ae54-db5a49f17e50"},{"parameters":{"chatId":"={{ $json.chatId || '8370599694' }}","text":"={{ $json.securityLogMsg }}","additionalFields":{}},"name":"Send Security Log","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4000,1200],"id":"32354b7c-93ec-478c-aa12-0792b43d87ef","webhookId":"5924f26d-60ef-4753-b2d9-7baef7fbdb72","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nconst memory = stored.videoMemory || {};\nconst voicePerf = memory.voicePerformance || {};\nconst bestPerNiche = memory.bestVoicePerNiche || {};\nconst videoCount = memory.totalVideos || 0;\n\nlet msg = 'Voice Performance Report\\n\\n';\n\nif (Object.keys(voicePerf).length === 0) {\n  msg += 'No voice data yet. Create some videos to build analytics!\\n\\n';\n  msg += 'Available voices:\\n1. Taksh - Hindi, warm cultural\\n2. Bradford - Serious, political, dark\\n3. Max - Documentary, educational (default)\\n4. Samantha - Emotional, true crime, intimate';\n} else {\n  msg += 'Voice Usage Stats:\\n';\n  const voices = ['Taksh','Bradford','Max','Samantha'];\n  voices.forEach(v => {\n    const d = voicePerf[v] || { count: 0, avgScore: 0 };\n    const pct = videoCount > 0 ? ((d.count / videoCount) * 100).toFixed(0) : 0;\n    msg += `${v}: ${d.count} videos (${pct}%), avg quality ${(d.avgScore || 0).toFixed(1)}/10\\n`;\n  });\n  msg += '\\nBest Voice Per Niche:\\n';\n  if (Object.keys(bestPerNiche).length === 0) {\n    msg += 'Not enough data yet.';\n  } else {\n    for (const [niche, voice] of Object.entries(bestPerNiche)) {\n      msg += `${niche}: ${voice}\\n`;\n    }\n  }\n  msg += `\\nDefault: ${memory.defaultVoice || 'Max (auto-select)'}`;\n}\n\nreturn [{ json: { ...($input.first().json), voiceReportMsg: msg } }];"},"name":"Voice Report Handler","type":"n8n-nodes-base.code","typeVersion":2,"position":[4000,1296],"id":"dbbf1004-2d83-4f87-8593-bf8bf5020b5a"},{"parameters":{"chatId":"={{ $json.chatId || '8370599694' }}","text":"={{ $json.voiceReportMsg }}","additionalFields":{}},"name":"Send Voice Report","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4192,1296],"id":"d0ec44fc-fae5-47c9-a5f9-54ca86c7267f","webhookId":"711d6671-d48c-4edf-8128-350b87624a1d","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"jsCode":"const data = $input.first().json;\nconst pick = data.thumbnailPick || 1;\nconst stored = $getWorkflowStaticData('global');\nconst pendingVideo = stored.pendingVideo || {};\n\nlet selectedUrl = '';\nif (pick === 1) selectedUrl = pendingVideo.thumbAUrl || pendingVideo.thumbUrl || '';\nelse if (pick === 2) selectedUrl = pendingVideo.thumbBUrl || '';\nelse if (pick === 3) selectedUrl = pendingVideo.thumbCUrl || '';\n\nif (selectedUrl) {\n  stored.pendingVideo = { ...pendingVideo, thumbUrl: selectedUrl, selectedThumb: pick };\n}\n\nconst msg = selectedUrl\n  ? `Thumbnail ${pick} selected! It will be used when you PUBLISH.\\n\\nPreview: ${selectedUrl}`\n  : `No pending video found. Create a video first, then pick thumbnail.`;\n\nreturn [{ json: { ...data, selectedThumbnailUrl: selectedUrl, selectedThumb: pick, thumbnailPickMsg: msg } }];"},"name":"Thumbnail Pick Handler","type":"n8n-nodes-base.code","typeVersion":2,"position":[4192,1392],"id":"262fd48f-9dfe-4392-aef6-1ab6a58073f0"},{"parameters":{"chatId":"={{ $json.chatId || '8370599696' }}","text":"={{ $json.thumbnailPickMsg }}","additionalFields":{}},"name":"Send Thumbnail Confirm","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4400,1392],"id":"6643a06a-c518-4f56-9797-23e8f9e7a2f2","webhookId":"7931f93b-ed64-47e3-baf8-2987df05aea6","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"jsCode":"const d = $input.first().json;\ntry {\n  const response = await fetch('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': 'YOUR_ANTHROPIC_API_KEY',\n      'anthropic-version': '2023-06-01',\n      'content-type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: 'claude-sonnet-4-20250514',\n      max_tokens: 1024,\n      system: \"You are a real-time trend analyst. Return ONLY valid JSON, no markdown.\",\n      messages: [{\"role\":\"user\",\"content\":\"Today is \" + new Date().toISOString().split('T')[0] + \". Analyze this topic: '\" + (d.customTopic || d.niche || (d.memory && d.memory.bestNiche) || 'technology') + \"'.\\n\\nIs it still trending or evergreen? Return JSON: {is_trending, trend_score, days_since_peak_approx, is_evergreen, freshness_note, is_south_asian_topic, suggest_hindi_version, fresher_angle, recommended_topic}\"}]\n    })\n  });\n  const data = await response.json();\n  return [{ json: data }];\n} catch(e) {\n  return [{ json: { content: [{ text: '{}' }], error: e.message } }];\n}"},"name":"Trend Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,-48],"id":"ff52624c-5f01-4c2c-88de-8e29c906dc4b","continueOnFail":true},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst txt = raw.content?.[0]?.text || '{}';\nlet trend = {};\ntry { const m = txt.match(/\\{[\\s\\S]*\\}/); trend = m ? JSON.parse(m[0]) : {}; } catch(e) {}\n\nif (!trend.trend_score) trend = {\n  is_trending: true,\n  trend_score: 7,\n  is_evergreen: true,\n  freshness_note: 'Topic has broad appeal',\n  is_south_asian_topic: false,\n  suggest_hindi_version: false,\n  fresher_angle: 'Modern angle with recent context',\n  recommended_topic: raw.customTopic || raw.niche || 'General knowledge'\n};\n\nconst data = $input.first().json;\nreturn [{ json: { ...data, trend } }];"},"name":"Parse Trend","type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,-48],"id":"ba2c7990-f9aa-4072-a615-928d8543fe34"},{"parameters":{"jsCode":"const d = $input.first().json;\nconst ANT_KEY = 'YOUR_ANTHROPIC_API_KEY';\n\nconst topic = d.customTopic || (d.trend && d.trend.recommended_topic) || d.niche || (d.memory && d.memory.bestNiche) || 'South Asian history';\nconst channel = (d.memory && d.memory.channelName) || 'Empires Untold';\nconst style = (d.memory && d.memory.preferredStyle) || 'cinematic documentary';\nconst lang = d.lang || 'english';\nconst quality = d.qualityMode || 'normal';\nconst avoidList = JSON.stringify((d.memory && d.memory.avoidRepeat) || []);\n\nconst systemPrompt = 'You are an elite viral content researcher and scriptwriter for South Asian history YouTube. Use the exact formula proven by MagnatesMedia, ColdFusion, and MrBeast. Return ONLY valid JSON, no markdown.';\n\nconst userPrompt = 'Create a complete viral 55-60 second video package for \"' + topic + '\".\\nChannel: ' + channel + ' | Style: ' + style + ' | Language: ' + lang + ' | Quality: ' + quality + '\\nAvoid repeating: ' + avoidList + '\\n\\nSCRIPT STRUCTURE (non-negotiable):\\n\\nHOOK (0-7s) - THE MORAL CONTRACT: One shocking fact with SPECIFIC NUMBERS. Immediate curiosity gap. NEVER answer the question immediately.\\nExamples: \"They burned the evidence. Here is what they found anyway.\" | \"This emperor killed 40 million people. Nobody talks about him.\" | \"The British stole 45 TRILLION dollars from India. Here is the proof.\"\\n\\nOPEN LOOP (7-15s): Promise what they will learn WITHOUT revealing it yet.\\n\\nSTAKES ESCALATION throughout: Higher every 60-90s. Problem -> Bigger Problem -> Shocking Twist -> Devastating Revelation -> Payoff.\\n\\nMICRO-CLIFFHANGERS every 60-90s in script: \"Coming up the document they tried to destroy...\" or \"But here is what makes this even more disturbing...\" or \"The answer changes everything we thought we knew...\"\\n\\nPAYOFF at 85% mark. CTA: \"Subscribe because this is just one chapter.\" CLIFFHANGER ENDING: tease next video.\\n\\nPOST-WATCH SATISFACTION last 10s: shocked, informed, angry, or proud. End: \"Share this because most people will never know this.\"\\n\\nTITLE FORMULA - pick highest CTR:\\nA: \"[Specific Number] [Shocking Thing] About [Topic] Nobody Talks About\"\\nB: \"The [Adjective] Truth About [Topic] They Do Not Want You To Know\"\\nC: \"How [Person/Empire] [Did Something Shocking] And Nobody Stopped Them\"\\n\\nQUALITY SCORING - if total below 30 rewrite and rescore until 30+:\\nhook_score /10: STOP scrolling in 2 seconds?\\nviral_score /10: Will people SHARE this?\\nretention_score /10: Watch to the END?\\ntrend_score /10: Trending or searchable?\\n\\nTHUMBNAIL RULES: ONE focal point 40% of frame, dark bg #0A0A0F, lighting from below, strong emotion, MAX 3 words ALL CAPS, top or bottom position NEVER center.\\nGenerate 3: A=Dramatic/Shocking B=Curiosity/Mystery C=Epic/Wide.\\n\\nReturn ONLY valid JSON with keys: topic, why_trending, hook_angle, visual_style, mood, content_type, target_audience, title, hook, open_loop, payoff_reveal, cliffhanger_ending, cta_line, post_watch_emotion, script_segments (array with: text, caption, visual_prompt, micro_cliffhanger, is_payoff), voiceover_full, ai_video_prompts, pexels_search_terms, description, tags, chapters (array: time, label), thumbnail_prompt, thumbnail_prompt_b, thumbnail_prompt_c, thumbnail_text, thumbnail_text_position, estimated_duration, south_asian_content, quality_score (hook_score, viral_score, retention_score, trend_score, total, passed)';\n\ntry {\n  const https = require('https');\n  const body = JSON.stringify({\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 5000,\n    system: systemPrompt,\n    messages: [{ role: 'user', content: userPrompt }]\n  });\n\n  const data = await new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'api.anthropic.com',\n      path: '/v1/messages',\n      method: 'POST',\n      headers: {\n        'x-api-key': ANT_KEY,\n        'anthropic-version': '2023-06-01',\n        'content-type': 'application/json',\n        'content-length': Buffer.byteLength(body)\n      }\n    }, res => {\n      let raw = '';\n      res.on('data', c => raw += c);\n      res.on('end', () => { try { resolve(JSON.parse(raw)); } catch(e) { resolve({ error: raw }); } });\n    });\n    req.on('error', reject);\n    req.write(body);\n    req.end();\n  });\n\n  return [{ json: data }];\n} catch(e) {\n  return [{ json: { content: [{ text: '{}' }], error: e.message } }];\n}\n"},"name":"Claude Research & Script","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,-48],"id":"1451cbfd-6755-499f-954d-a430d35e8e84","continueOnFail":true},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst txt = raw.content?.[0]?.text || '{}';\nlet d = {};\ntry { const m = txt.match(/\\{[\\s\\S]*\\}/); d = m ? JSON.parse(m[0]) : {}; } catch(e) {}\n\nif (!d.title) d = {\n  topic: 'Ancient Hidden Knowledge',\n  mood: 'educational',\n  content_type: 'documentary',\n  title: 'The Truth They Never Taught You',\n  hook: 'This discovery changed everything',\n  voiceover_full: 'This is the story they never told you. A discovery hidden for centuries...',\n  ai_video_prompts: [\n    'cinematic drone shot ancient stone ruins golden hour epic scale 8K photorealistic',\n    'close up aged hands turning yellowed manuscript dramatic lighting',\n    'wide angle historical marketplace morning light dust particles',\n    'slow motion crowd reaction documentary natural lighting',\n    'aerial time lapse city at dusk dramatic storm clouds'\n  ],\n  pexels_search_terms: ['ancient history ruins','documentary cinematic','historical artifacts','science laboratory','dramatic landscape'],\n  tags: ['history','viral','documentary','educational','shorts','facts','mindblowing','ancient','truth','hidden'],\n  thumbnail_prompt: 'dramatic cinematic ancient ruins golden hour no text',\n  thumbnail_prompt_b: 'mysterious glowing ancient artifact dark background dramatic lighting no text',\n  thumbnail_prompt_c: 'epic aerial view ancient civilization sunrise no text',\n  thumbnail_text: 'The Hidden Truth',\n  estimated_duration: 58,\n  south_asian_content: false,\n  script_segments: [{text:'This is the story...',visual_prompt:'ancient ruins',caption:'HIDDEN FOR CENTURIES',duration:12}],\n  description: 'Discover the truth behind ancient mysteries that historians never fully explained.',\n  target_audience: '18-35 history enthusiasts'\n};\n\nconst stored = $getWorkflowStaticData('global');\nstored.scriptMeta = { title: d.title, hook: d.hook, description: d.description, tags: d.tags, estimated_duration: d.estimated_duration, thumbnail_prompt: d.thumbnail_prompt, thumbnail_prompt_b: d.thumbnail_prompt_b, thumbnail_prompt_c: d.thumbnail_prompt_c };\nconst inc = $input.first().json;\nreturn [{ json: { ...inc, ...d } }];"},"name":"Parse Script v6","type":"n8n-nodes-base.code","typeVersion":2,"position":[2592,-48],"id":"b79f2e40-e353-49b4-9b38-4f73f40626a5"},{"parameters":{"jsCode":"const d = $input.first().json;\nconst ANT_KEY = 'YOUR_ANTHROPIC_API_KEY';\n\nconst qualityMode = d.qualityMode || 'normal';\nconst title = d.title || '';\nconst hook = d.hook || '';\nconst script = (d.voiceover_full || '').slice(0, 500);\nconst contentType = d.content_type || '';\nconst target = d.target_audience || '';\n\n// Store quality_score from script generation if Claude already scored it\nconst existingScore = d.quality_score || {};\nif (existingScore.total && existingScore.total >= 30) {\n  const scoreOK = existingScore.passed !== false && existingScore.total >= 30;\n  return [{ json: { ...d, quality_score: existingScore, scoreOK, qualityScore: { total_score: existingScore.total, hook_score: existingScore.hook_score, viral_score: existingScore.viral_score, trend_score: existingScore.trend_score } } }];\n}\n\ntry {\n  const https = require('https');\n  const userMsg = 'Score this video script on 4 dimensions (1-10 each).\\n\\nQuality mode: ' + qualityMode + '\\nTitle: ' + title + '\\nHook: ' + hook + '\\nScript: ' + script + '\\nContent type: ' + contentType + '\\nTarget: ' + target + '\\n\\nReturn JSON: {hook_score, viral_score, retention_score, trend_score, total_score, quality_grade, needs_rewrite, scoreOK}';\n\n  const body = JSON.stringify({\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 1000,\n    system: 'You are a viral content quality judge. Score scripts rigorously. Return ONLY valid JSON, no markdown.',\n    messages: [{ role: 'user', content: userMsg }]\n  });\n\n  const data = await new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'api.anthropic.com',\n      path: '/v1/messages',\n      method: 'POST',\n      headers: {\n        'x-api-key': ANT_KEY,\n        'anthropic-version': '2023-06-01',\n        'content-type': 'application/json',\n        'content-length': Buffer.byteLength(body)\n      }\n    }, res => {\n      let raw = '';\n      res.on('data', c => raw += c);\n      res.on('end', () => { try { resolve(JSON.parse(raw)); } catch(e) { resolve({ error: raw }); } });\n    });\n    req.on('error', reject);\n    req.write(body);\n    req.end();\n  });\n\n  return [{ json: data }];\n} catch(e) {\n  // Fallback: use quality_score from script generation or pass with default\n  const fallbackScore = d.quality_score || { hook_score: 8, viral_score: 8, retention_score: 7, trend_score: 7, total: 30, passed: true };\n  return [{ json: { ...d, content: [{ text: JSON.stringify({ hook_score: fallbackScore.hook_score || 8, viral_score: fallbackScore.viral_score || 8, retention_score: fallbackScore.retention_score || 7, trend_score: fallbackScore.trend_score || 7, total_score: fallbackScore.total || 30, scoreOK: true, needs_rewrite: false }) }], error: e.message } }];\n}\n"},"name":"Quality Gate Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,-48],"id":"e631528c-04d4-4158-9586-2cb661c7c71b","continueOnFail":true},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst txt = raw.content?.[0]?.text || '{}';\nlet q = {};\ntry { const m = txt.match(/\\{[\\s\\S]*\\}/); q = m ? JSON.parse(m[0]) : {}; } catch(e) {}\n\nif (typeof q.total_score !== 'number') q = {\n  hook_score: 8, emotion_score: 7, info_score: 8, viral_score: 7, cta_score: 7,\n  total_score: 37, quality_grade: 'B', needs_rewrite: false,\n  quality_summary: 'Good quality script, minor improvements possible.',\n  improvement_areas: ['Strengthen hook','Add more emotional moments']\n};\n\nconst threshold = (raw.qualityMode === 'high') ? 45 : 40;\nif (typeof q.needs_rewrite === 'undefined') q.needs_rewrite = q.total_score < threshold;\n\nconst inc = $input.first().json;\nreturn [{ json: { ...inc, qualityScore: q, qualityThreshold: threshold, scoreOK: !q.needs_rewrite } }];"},"name":"Parse Quality","type":"n8n-nodes-base.code","typeVersion":2,"position":[2992,-48],"id":"486f925a-6c3f-4a99-be12-5b90a27ae723"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"qok","leftValue":"={{ $json.scoreOK }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Quality OK?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3200,-48],"id":"f584ab91-d7d8-4457-a4f0-f6338c6946a6"},{"parameters":{"jsCode":"const d = $input.first().json;\ntry {\n  const response = await fetch('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': 'YOUR_ANTHROPIC_API_KEY',\n      'anthropic-version': '2023-06-01',\n      'content-type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: 'claude-sonnet-4-20250514',\n      max_tokens: 3000,\n      system: \"You are an expert viral scriptwriter. Improve scripts to be more engaging and shareable. Return ONLY valid JSON, no markdown.\",\n      messages: [{\"role\":\"user\",\"content\":\"Rewrite this script to score above \" + (d.qualityThreshold || 40) + \"/50.\\n\\nImprovement areas: \" + JSON.stringify((d.qualityScore && d.qualityScore.improvement_areas) || []) + \"\\nCurrent score: \" + ((d.qualityScore && d.qualityScore.total_score) || 0) + \"/50\\nTitle: \" + (d.title || '') + \"\\nHook: \" + (d.hook || '') + \"\\nScript: \" + (d.voiceover_full || '') + \"\\n\\nReturn JSON: {title, hook, voiceover_full, ai_video_prompts, script_segments, description, tags, thumbnail_prompt, thumbnail_text, rewrite_notes}\"}]\n    })\n  });\n  const data = await response.json();\n  return [{ json: data }];\n} catch(e) {\n  return [{ json: { content: [{ text: '{}' }], error: e.message } }];\n}"},"name":"Rewrite Script Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[3392,-176],"id":"9e10ce1f-453b-45bc-811c-6bf35e02e458","continueOnFail":true},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst txt = raw.content?.[0]?.text || '{}';\nlet rw = {};\ntry { const m = txt.match(/\\{[\\s\\S]*\\}/); rw = m ? JSON.parse(m[0]) : {}; } catch(e) {}\n\nconst inc = $input.first().json;\nreturn [{ json: {\n  ...inc,\n  title: rw.title || inc.title,\n  hook: rw.hook || inc.hook,\n  voiceover_full: rw.voiceover_full || inc.voiceover_full,\n  ai_video_prompts: rw.ai_video_prompts || inc.ai_video_prompts,\n  script_segments: rw.script_segments || inc.script_segments,\n  description: rw.description || inc.description,\n  tags: rw.tags || inc.tags,\n  thumbnail_prompt: rw.thumbnail_prompt || inc.thumbnail_prompt,\n  thumbnail_text: rw.thumbnail_text || inc.thumbnail_text,\n  wasRewritten: true,\n  rewriteNotes: rw.rewrite_notes || 'Script improved for quality'\n}}];"},"name":"Parse Rewrite","type":"n8n-nodes-base.code","typeVersion":2,"position":[3600,-176],"id":"82b49cbc-1952-4adc-9c8a-d671d14a0b80"},{"parameters":{"jsCode":"const d = $input.first().json;\ntry {\n  const response = await fetch('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': 'YOUR_ANTHROPIC_API_KEY',\n      'anthropic-version': '2023-06-01',\n      'content-type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 512,\n      system: \"You are a voice casting director. Analyze script mood and select the optimal ElevenLabs voice. Return ONLY valid JSON, no markdown.\",\n      messages: [{\"role\":\"user\",\"content\":\"Select the best voice for this video.\\n\\nVoices: Taksh (aF6JALq9R6tXwCczjhKH)=Hindi, Bradford=serious/dark, Max (Gfpl8Yo74Is0W6cPUWWT)=documentary default, Samantha (uIZsnBL0YK1S5j69bAih)=emotional\\n\\nLanguage: \" + (d.lang || 'english') + \"\\nTopic: \" + (d.topic || '') + \"\\nMood: \" + (d.mood || d.content_type || '') + \"\\nHook: \" + ((d.hook || '').slice(0,100)) + \"\\n\\nIf hindi, always choose Taksh. Return JSON: {voice_name, voice_id, mood_detected, profile_used, stability, similarity_boost, style, speed, voice_reasoning}\"}]\n    })\n  });\n  const data = await response.json();\n  return [{ json: data }];\n} catch(e) {\n  return [{ json: { content: [{ text: '{}' }], error: e.message } }];\n}"},"name":"Voice Intelligence Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[3792,-48],"id":"c70170f5-0238-4e62-83b0-e3c161e89bc5","continueOnFail":true},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst txt = raw.content?.[0]?.text || '{}';\nlet v = {};\ntry { const m = txt.match(/\\{[\\s\\S]*\\}/); v = m ? JSON.parse(m[0]) : {}; } catch(e) {}\n\nconst lang = raw.lang || '';\n\nif (!v.voice_id) {\n  const isHindi = lang === 'hindi';\n  v = {\n    voice_name: isHindi ? 'Taksh' : 'Max',\n    voice_id: isHindi ? (raw.ELEVENLABS_VOICE_TAKSH || 'aF6JALq9R6tXwCczjhKH') : (raw.ELEVENLABS_VOICE_MAX || 'Gfpl8Yo74Is0W6cPUWWT'),\n    mood_detected: 'educational',\n    profile_used: 'educational',\n    stability: 0.35,\n    similarity_boost: 0.75,\n    style: 0.20,\n    speed: 1.0,\n    voice_reasoning: 'Default educational voice selected'\n  };\n}\n\n// Update memory with voice choice\ntry {\n  const stored = $getWorkflowStaticData('global');\n  const memory = stored.videoMemory || {};\n  if (!memory.voicePerformance) memory.voicePerformance = {};\n  const vn = v.voice_name;\n  if (!memory.voicePerformance[vn]) memory.voicePerformance[vn] = { count: 0, avgScore: 0 };\n  memory.voicePerformance[vn].count += 1;\n  if (!memory.bestVoicePerNiche) memory.bestVoicePerNiche = {};\n  const niche = raw.niche || 'general';\n  if (!memory.bestVoicePerNiche[niche]) memory.bestVoicePerNiche[niche] = vn;\n  stored.videoMemory = memory;\n} catch(e) {}\n\nconst inc = $input.first().json;\nreturn [{ json: { ...inc, selectedVoice: v } }];"},"name":"Parse Voice Selection","type":"n8n-nodes-base.code","typeVersion":2,"position":[4000,-48],"id":"bc89020a-ca74-4fcf-9ccc-1bb3042314ac"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"hindi","leftValue":"={{ $json.lang }}","rightValue":"hindi","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is Hindi?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[4192,-48],"id":"b7f1458f-178e-4774-9358-fbb5215c97d0"},{"parameters":{"jsCode":"const d = $input.first().json;\ntry {\n  const response = await fetch('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': 'YOUR_ANTHROPIC_API_KEY',\n      'anthropic-version': '2023-06-01',\n      'content-type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: 'claude-sonnet-4-20250514',\n      max_tokens: 2000,\n      system: \"You are a professional Hindi translator and content creator. Return ONLY valid JSON, no markdown.\",\n      messages: [{\"role\":\"user\",\"content\":\"Translate to Hindi (Devanagari).\\n\\nTitle: \" + (d.title || '') + \"\\nVoiceover: \" + (d.voiceover_full || '') + \"\\nDescription: \" + (d.description || '') + \"\\nHook: \" + (d.hook || '') + \"\\n\\nReturn JSON: {hindi_title, hindi_voiceover, hindi_description, hindi_hook, transliterated_title, tags_hindi, translation_quality_notes}\"}]\n    })\n  });\n  const data = await response.json();\n  return [{ json: data }];\n} catch(e) {\n  return [{ json: { content: [{ text: '{}' }], error: e.message } }];\n}"},"name":"Language Translator Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[4400,-160],"id":"10e0906b-045d-47be-9120-d4c586cf094f","continueOnFail":true},{"parameters":{"jsCode":"const d = $input.first().json;\ntry {\n  const response = await fetch('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': 'YOUR_ANTHROPIC_API_KEY',\n      'anthropic-version': '2023-06-01',\n      'content-type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: 'claude-sonnet-4-20250514',\n      max_tokens: 4000,\n      system: \"You are a cinematic drama scriptwriter and film director. Return ONLY valid JSON, no markdown.\",\n      messages: [{\"role\":\"user\",\"content\":\"Create a CINEMATIC DRAMA script for: '\" + (d.dramaTitle || d.customTopic || '') + \"'\\n\\n\" + (d.seriesName ? \"SERIES: \" + d.seriesName + \" - Episode \" + (d.seriesEp || \"1\") : \"\") + \"\\n\\nCreate 60-90 second drama with opening hook, character intro, dramatic build, climax, powerful close.\\n\\nReturn JSON: {drama_title, series_episode, opening_line, narrator_voice, scenes, closing_line, music_mood, total_duration, drama_tags, drama_description, character_consistency_notes}\"}]\n    })\n  });\n  const data = await response.json();\n  return [{ json: data }];\n} catch(e) {\n  return [{ json: { content: [{ text: '{}' }], error: e.message } }];\n}"},"name":"Drama Script Generator","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,352],"id":"dc3ff03e-4e16-4cf1-80d8-ad00217c0f86","continueOnFail":true},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst txt = raw.content?.[0]?.text || '{}';\nlet drama = {};\ntry { const m = txt.match(/\\{[\\s\\S]*\\}/); drama = m ? JSON.parse(m[0]) : {}; } catch(e) {}\n\nif (!drama.drama_title) drama = {\n  drama_title: raw.dramaTitle || 'Untitled Drama',\n  opening_line: 'In a world where nothing is as it seems...',\n  scenes: [{scene_num:1, action:'Opening', dialogue:'The story begins', visual_prompt_for_kling: 'cinematic establishing shot dramatic lighting', duration_seconds: 15}],\n  closing_line: 'Some stories were never meant to be told.',\n  music_mood: 'Epic orchestral, building tension',\n  total_duration: 75\n};\n\n// Save drama data for approval flow\ntry {\n  const stored = $getWorkflowStaticData('global');\n  stored.pendingDrama = { ...drama, chatId: raw.chatId };\n} catch(e) {}\n\nconst sceneSummary = (drama.scenes || []).slice(0,3).map((s,i) => `Scene ${s.scene_num}: ${s.action} - \"${(s.dialogue||'').slice(0,50)}\"`).join('\\n');\nconst approvalMsg = `DRAMA SCRIPT READY\\n\\nTitle: ${drama.drama_title}\\n${raw.seriesName ? 'Series: ' + raw.seriesName + ' Ep' + raw.seriesEp : ''}\\nDuration: ${drama.total_duration}s\\nMusic: ${drama.music_mood}\\n\\nOpening: \"${drama.opening_line}\"\\n\\nScenes Preview:\\n${sceneSummary}\\n\\nClosing: \"${drama.closing_line}\"\\n\\nSend PUBLISH to approve and produce this drama.\\nSend REJECT to discard.`;\n\nconst inc = $input.first().json;\nreturn [{ json: { ...inc, dramaData: drama, dramaApprovalMsg: approvalMsg } }];"},"name":"Parse Drama Script","type":"n8n-nodes-base.code","typeVersion":2,"position":[2592,352],"id":"2a625e79-8a75-41d3-8944-1f2d14765e5f"},{"parameters":{"chatId":"={{ $json.chatId || '8370599696' }}","text":"={{ $json.dramaApprovalMsg }}","additionalFields":{}},"name":"Send Drama Approval","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2800,352],"id":"58a0b075-b2da-4d49-a96c-d1c922a5bcd7","webhookId":"ccd7797b-209d-4a3d-b9bd-ec9328b4bf4f","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"jsCode":"const d = $input.first().json;\ntry {\n  const response = await fetch('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': 'YOUR_ANTHROPIC_API_KEY',\n      'anthropic-version': '2023-06-01',\n      'content-type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 600,\n      system: \"Write a compelling 30-second voiceover script. Return ONLY valid JSON, no markdown.\",\n      messages: [{\"role\":\"user\",\"content\":\"Write a 30-second voice test script about: '\" + (d.voicetestTopic || 'ancient civilizations') + \"'\\n\\nDramatic, 80-90 words. Return JSON: {script_text, word_count, topic_used}\"}]\n    })\n  });\n  const data = await response.json();\n  return [{ json: data }];\n} catch(e) {\n  return [{ json: { content: [{ text: '{}' }], error: e.message } }];\n}"},"name":"VoiceTest Script Generator","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,576],"id":"bd4fa385-83d5-4301-85b4-270d168f023b","continueOnFail":true},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst txt = raw.content?.[0]?.text || '{}';\nlet vt = {};\ntry { const m = txt.match(/\\{[\\s\\S]*\\}/); vt = m ? JSON.parse(m[0]) : {}; } catch(e) {}\n\nconst script = vt.script_text || `In the shadows of history, empires rise and fall. Ancient civilizations held secrets that modern science is only beginning to understand. From the pyramids of Egypt to the temples of Angkor Wat, each stone tells a story of human ambition, spiritual devotion, and architectural mastery that we still cannot fully replicate today. Some mysteries were never meant to be solved.`;\n\n// Save for bridge nodes\ntry {\n  const stored = $getWorkflowStaticData('global');\n  stored.voicetestData = {\n    script: script,\n    topic: raw.voicetestTopic || 'ancient civilizations',\n    chatId: raw.chatId || '8370599696'\n  };\n} catch(e) {}\n\nconst inc = $input.first().json;\nreturn [{ json: { ...inc, voicetestScript: script, voicetestWordCount: vt.word_count || 85 } }];"},"name":"Parse VoiceTest Script","type":"n8n-nodes-base.code","typeVersion":2,"position":[2592,576],"id":"3f37df08-7849-480a-9ba4-70eee4c4ba57"},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/aF6JALq9R6tXwCczjhKH/stream","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"YOUR_CREATOMATE_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.voicetestScript }}"},{"name":"model_id","value":"eleven_turbo_v2_5"},{"name":"voice_settings","value":"{\"stability\":0.35,\"similarity_boost\":0.75,\"style\":0.25,\"use_speaker_boost\":true}"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"voiceover_audio"}}}},"name":"VoiceTest Taksh Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,576],"id":"7adf70fc-8c90-48f7-9779-dfdad177ffac","continueOnFail":true},{"parameters":{"operation":"sendAudio","chatId":"8370599696","binaryData":true,"binaryPropertyName":"voiceover_audio","additionalFields":{"caption":"Voice 1: TAKSH - Hindi / Warm Cultural\nStability: 0.35 | Style: 0.25\nBest for: South Asian topics, cultural content"}},"name":"Send Taksh Audio","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2992,576],"id":"13c0563a-2ad6-4d3d-8924-77a89d2cd73a","webhookId":"a4672608-d683-4c1a-9c05-eed65f0d75c2","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nconst vtData = stored.voicetestData || {};\nreturn [{ json: { voicetestScript: vtData.script || '', chatId: vtData.chatId || '', voicetestTopic: vtData.topic || '' } }];"},"name":"VoiceTest Bridge","type":"n8n-nodes-base.code","typeVersion":2,"position":[3200,576],"id":"c9cb8d0f-33f2-4cff-9fda-a9f166b4b378"},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/Gfpl8Yo74Is0W6cPUWWT/stream","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"YOUR_CREATOMATE_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.voicetestScript }}"},{"name":"model_id","value":"eleven_turbo_v2_5"},{"name":"voice_settings","value":"{\"stability\":0.35,\"similarity_boost\":0.75,\"style\":0.20,\"use_speaker_boost\":true}"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"voiceover_audio"}}}},"name":"VoiceTest Max Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3392,576],"id":"fb504a0d-5047-4ca2-bd1f-de772459b2e8","continueOnFail":true},{"parameters":{"operation":"sendAudio","chatId":"8370599696","binaryData":true,"binaryPropertyName":"voiceover_audio","additionalFields":{"caption":"Voice 3: MAX - Documentary / Educational (DEFAULT)\nStability: 0.35 | Style: 0.20\nBest for: General content, documentaries, science"}},"name":"Send Max Audio","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3600,576],"id":"a2206959-f8f7-40b9-abd0-e284b8ab5f33","webhookId":"95ffb5bb-9c3e-4d63-b2c1-f960fbbd3e3c","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"chatId":"8370599696","text":"=Voice Test Complete for: '{{ $json.voicetestTopic || 'your topic' }}'\n\nYou heard:\n1. TAKSH - Hindi/Warm cultural narrator\n3. MAX - Documentary/Educational (current default)\n\nAlso available (auto-selected by mood):\n2. BRADFORD - Serious, political, dark topics\n4. SAMANTHA - Emotional, true crime, intimate\n\nVoice auto-selects based on script mood.\nTo override: include VOICE:1 VOICE:2 VOICE:3 or VOICE:4 in your TOPIC command.\n\nSend VOICE REPORT to see performance stats.","additionalFields":{}},"name":"Send VoiceTest Instructions","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3792,576],"id":"3afce018-d613-4354-9c57-393f97acf2a1","webhookId":"b3d1ee49-64a9-45b6-aa5d-f73ef6246ef4","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"jsCode":"const d = $input.first().json;\nconst budgetMode = d.budgetMode || 'auto';\nconst action = d.action || '';\n\nconst aiTopicKeywords = [\n  'history','ancient','historical','medieval','empire','war','battle','rome','egypt',\n  'scifi','space','future','robot','fantasy','mythology','gods','viking','samurai',\n  'crime','mystery','conspiracy','mughal','aztec','horror','paranormal','forbidden',\n  'civilization','dynasty','revolution','kingdom','pharaoh','sultan','warrior'\n];\n\nconst pexelsTopicKeywords = [\n  'business','office','technology','computer','phone','social media','app',\n  'nature','ocean','mountain','forest','city','travel','food','cooking',\n  'fitness','gym','yoga','meditation','motivation','health','science','finance'\n];\n\nconst combined = ((d.topic || '') + ' ' + (d.niche || '') + ' ' + (d.content_type || '')).toLowerCase();\nconst topicNeedsAI = aiTopicKeywords.some(k => combined.includes(k));\nconst topicHasFreeFootage = pexelsTopicKeywords.some(k => combined.includes(k));\n\nlet useAIVideo = false, usePremiumKling = false, videoStrategy = 'pexels_free';\nlet estimatedCost = '$0.00';\n\nif (budgetMode === 'free') {\n  useAIVideo = false;\n  videoStrategy = 'pexels_free';\n} else if (action === 'DRAMA' || d.dramaTitle) {\n  useAIVideo = true;\n  usePremiumKling = true;\n  videoStrategy = 'kling_premium';\n  estimatedCost = '$1.88';\n} else if (topicNeedsAI && !topicHasFreeFootage) {\n  useAIVideo = true;\n  usePremiumKling = false;\n  videoStrategy = 'veo_free_primary';\n  estimatedCost = '$0.00';\n} else {\n  useAIVideo = false;\n  videoStrategy = 'pexels_free';\n}\n\nreturn [{ json: { ...d, useAIVideo, usePremiumKling, videoStrategy, estimatedCost } }];"},"name":"Smart Video Router v6","type":"n8n-nodes-base.code","typeVersion":2,"position":[4592,-48],"id":"079f9486-6027-4a18-86c9-783651410b4a"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"aiv","leftValue":"={{ $json.useAIVideo }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"AI Video or Pexels?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[4800,-48],"id":"b6692867-eaea-4c1f-bc23-8d40e8769a32"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/veo-3.0-generate-preview:generateVideo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-goog-api-key","value":"YOUR_GOOGLE_AI_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ ($json.ai_video_prompts || [])[0] || 'cinematic documentary scene dramatic lighting 4K' }}, photorealistic no text no watermark 9:16 vertical"},{"name":"generationConfig","value":"{\"durationSeconds\": 8, \"aspectRatio\": \"9:16\"}"}]},"options":{}},"name":"Google Veo Free - Clip 1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4992,-192],"id":"569c8f7e-f371-483b-aa6e-ed9b8db411ee","continueOnFail":true},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/veo-3.0-generate-preview:generateVideo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-goog-api-key","value":"YOUR_GOOGLE_AI_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ ($json.ai_video_prompts || [])[1] || 'cinematic scene dramatic atmosphere 4K' }}, photorealistic no text no watermark 9:16 vertical"},{"name":"generationConfig","value":"{\"durationSeconds\": 8, \"aspectRatio\": \"9:16\"}"}]},"options":{}},"name":"Google Veo Free - Clip 2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4992,-96],"id":"8be754de-428d-48b1-8267-a62245ddef13","continueOnFail":true},{"parameters":{"method":"POST","url":"https://api.seedance.tv/v1/video/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer skip"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ ($json.ai_video_prompts || [])[2] || 'cinematic dramatic scene 4K' }}, no text 9:16 vertical"},{"name":"duration","value":8},{"name":"aspect_ratio","value":"9:16"}]},"options":{}},"name":"Seedance Free Fallback","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4992,16],"id":"6f81b47e-065f-4f83-8337-78ebaee7a739","continueOnFail":true},{"parameters":{"method":"POST","url":"https://fal.run/fal-ai/kling-video/v1.6/pro/text-to-video","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key YOUR_FAL_AI_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ ($json.ai_video_prompts || [])[0] }}, cinematic 4K photorealistic no text no watermark"},{"name":"duration","value":"5"},{"name":"aspect_ratio","value":"9:16"},{"name":"negative_prompt","value":"blurry low quality cartoon text watermark"}]},"options":{}},"name":"Kling Premium Clip 1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4992,112],"id":"59d831a0-26a1-4a0e-810c-14089f06917d","continueOnFail":true},{"parameters":{"method":"POST","url":"https://fal.run/fal-ai/kling-video/v1.6/pro/text-to-video","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key YOUR_FAL_AI_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ ($json.ai_video_prompts || [])[1] }}, cinematic 4K photorealistic no text no watermark"},{"name":"duration","value":"5"},{"name":"aspect_ratio","value":"9:16"},{"name":"negative_prompt","value":"blurry low quality cartoon text watermark"}]},"options":{}},"name":"Kling Premium Clip 2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4992,208],"id":"6de71e55-c45b-4f45-b43b-d400263d5073","continueOnFail":true},{"parameters":{"method":"POST","url":"https://fal.run/fal-ai/kling-video/v1.6/pro/text-to-video","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Key YOUR_FAL_AI_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ ($json.ai_video_prompts || [])[2] }}, cinematic 4K photorealistic no text no watermark"},{"name":"duration","value":"5"},{"name":"aspect_ratio","value":"9:16"},{"name":"negative_prompt","value":"blurry low quality cartoon text watermark"}]},"options":{}},"name":"Kling Premium Clip 3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4992,320],"id":"90799403-4ead-4519-ac0b-3446739a2a70","continueOnFail":true},{"parameters":{"url":"https://api.pexels.com/videos/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ ($json.pexels_search_terms || ['cinematic documentary'])[0] }}"},{"name":"per_page","value":"15"},{"name":"orientation","value":"portrait"},{"name":"size","value":"medium"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"YOUR_ELEVENLABS_API_KEY"}]},"options":{}},"name":"Pexels Stock Footage","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4992,448],"id":"d32bf63f-57b9-47ad-a0e4-a6378509f346","continueOnFail":true},{"parameters":{"jsCode":"const all = $input.all();\nconst base = all[0].json;\nlet videoUrls = [], videoSource = 'pexels_free';\n\nconst klingItems = all.filter(i => i.json.video?.url || (i.json.url && i.json.url.includes('mp4')));\nconst veoItems = all.filter(i => i.json.name && (i.json.name.includes('generation') || i.json.state === 'SUCCEEDED'));\nconst seedanceItems = all.filter(i => i.json.video_url || i.json.output_url);\n\nif (klingItems.length > 0) {\n  videoUrls = klingItems.map(i => i.json.video?.url || i.json.url || '').filter(Boolean);\n  videoSource = 'kling_premium';\n} else if (veoItems.length > 0) {\n  videoUrls = veoItems.map(i => i.json.video?.uri || i.json.videoUri || '').filter(Boolean);\n  videoSource = 'google_veo_free';\n} else if (seedanceItems.length > 0) {\n  videoUrls = seedanceItems.map(i => i.json.video_url || i.json.output_url || '').filter(Boolean);\n  videoSource = 'seedance_free';\n} else {\n  const videos = (base.videos || []).slice(0,6);\n  videoUrls = videos.map(v => {\n    const f = v.video_files?.find(f => f.quality === 'hd') || v.video_files?.[0];\n    return f?.link || '';\n  }).filter(Boolean);\n  videoSource = 'pexels_free';\n}\n\nconst result = { ...base, videoUrls, videoSource, videoCount: videoUrls.length };\n\ntry {\n  const stored = $getWorkflowStaticData('global');\n  stored.pendingVideoData = result;\n} catch(e) {}\n\nreturn [{ json: result }];"},"name":"Merge Video Assets","type":"n8n-nodes-base.code","typeVersion":2,"position":[5216,112],"id":"1a99eedf-6a69-402a-9720-0200a60080b7"},{"parameters":{"jsCode":"const GOOGLE_AI_KEY = \"YOUR_GOOGLE_AI_API_KEY\";\nconst topicHint = $json.topic || \"South Asian history\";\nconst basePrompt = $json.thumbnail_prompt || \"cinematic dramatic South Asian history scene\";\nconst prompt = \"Cinematic YouTube thumbnail for South Asian history video about \" + topicHint + \". \" + basePrompt + \". Dramatic lighting from below, dark moody background #0A0A0F, one clear emotional focal point filling 40% of frame, off-center rule of thirds, high contrast, photorealistic cinema, shock or awe or anger expression, 16:9 aspect ratio, no text, no watermark, National Geographic documentary style, award-winning dramatic\";\n\nlet url = \"\";\n\ntry {\n  const nbRes = await fetch(\n    \"https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-image-preview:generateContent?key=\" + GOOGLE_AI_KEY,\n    {\n      method: \"POST\",\n      headers: { \"Content-Type\": \"application/json\" },\n      body: JSON.stringify({\n        contents: [{ parts: [{ text: prompt }] }],\n        generationConfig: { responseModalities: [\"IMAGE\"], imagenConfig: { aspectRatio: \"16:9\" } }\n      })\n    }\n  );\n  const nbData = await nbRes.json();\n  const imageBase64 = nbData.candidates?.[0]?.content?.parts?.[0]?.inlineData?.data || \"\";\n  if (imageBase64) {\n    const imgbbForm = new URLSearchParams();\n    imgbbForm.append(\"image\", imageBase64);\n    const imgbbRes = await fetch(\"https://api.imgbb.com/1/upload?expiration=600&key=public_temp\", {\n      method: \"POST\", body: imgbbForm\n    });\n    const imgbbData = await imgbbRes.json();\n    if (imgbbData?.data?.url) {\n      url = imgbbData.data.url;\n    } else {\n      throw new Error(\"imgbb failed\");\n    }\n  } else {\n    throw new Error(nbData.error?.message || \"Google AI no image\");\n  }\n} catch(e) {\n  const seed = Math.floor(Math.random() * 999999);\n  url = \"https://image.pollinations.ai/prompt/\" + encodeURIComponent(prompt + \", dramatic cinematic 8K photorealistic no text no watermark\") + \"?width=1280&height=720&seed=\" + seed + \"&nologo=true&enhance=true\";\n}\n\nreturn [{ json: { data: [{ url }] } }];"},"name":"DALL-E Thumbnail A","type":"n8n-nodes-base.code","typeVersion":2,"position":[5424,112],"id":"f174d96e-7fe2-4a97-93b9-7be9a233b0cb","continueOnFail":true},{"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nconst baseData = stored.pendingVideoData || {};\nconst d = $input.first().json;\n\nlet thumbAUrl = stored.thumbAUrl || '';\nif (!d.error && d.data?.[0]?.url) {\n  thumbAUrl = d.data[0].url;\n  stored.thumbAUrl = thumbAUrl;\n}\n\nreturn [{ json: {\n  ...baseData,\n  thumbAUrl,\n  thumbnailPromptCurrent: baseData.thumbnail_prompt_b || (baseData.thumbnail_prompt + ', dramatic close-up face expression, intense emotion, different angle')\n} }];"},"name":"Carry Data After A","type":"n8n-nodes-base.code","typeVersion":2,"position":[5616,112],"id":"eef81ceb-33d9-4a4c-8651-27d257ab676b"},{"parameters":{"jsCode":"const GOOGLE_AI_KEY = \"YOUR_GOOGLE_AI_API_KEY\";\nconst topicHint = $json.topic || \"South Asian history\";\nconst basePrompt = $json.thumbnail_prompt_b || ($json.thumbnail_prompt || \"cinematic South Asian history\") + \" curiosity mystery angle\";\nconst prompt = \"Cinematic YouTube thumbnail curiosity mystery angle for South Asian history video about \" + topicHint + \". \" + basePrompt + \". Dramatic close-up face expression intense emotion, dark mysterious background #0A0A0F, shadow across half the face, one eye clearly visible, extreme high contrast, 16:9 aspect ratio, no text, no watermark, cinematic photorealistic professional\";\n\nlet url = \"\";\n\ntry {\n  const nbRes = await fetch(\n    \"https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-image-preview:generateContent?key=\" + GOOGLE_AI_KEY,\n    {\n      method: \"POST\",\n      headers: { \"Content-Type\": \"application/json\" },\n      body: JSON.stringify({\n        contents: [{ parts: [{ text: prompt }] }],\n        generationConfig: { responseModalities: [\"IMAGE\"], imagenConfig: { aspectRatio: \"16:9\" } }\n      })\n    }\n  );\n  const nbData = await nbRes.json();\n  const imageBase64 = nbData.candidates?.[0]?.content?.parts?.[0]?.inlineData?.data || \"\";\n  if (imageBase64) {\n    const imgbbForm = new URLSearchParams();\n    imgbbForm.append(\"image\", imageBase64);\n    const imgbbRes = await fetch(\"https://api.imgbb.com/1/upload?expiration=600&key=public_temp\", {\n      method: \"POST\", body: imgbbForm\n    });\n    const imgbbData = await imgbbRes.json();\n    if (imgbbData?.data?.url) {\n      url = imgbbData.data.url;\n    } else {\n      throw new Error(\"imgbb failed\");\n    }\n  } else {\n    throw new Error(nbData.error?.message || \"Google AI no image\");\n  }\n} catch(e) {\n  const seed = Math.floor(Math.random() * 999999);\n  url = \"https://image.pollinations.ai/prompt/\" + encodeURIComponent(prompt + \", 8K photorealistic no text no watermark\") + \"?width=1280&height=720&seed=\" + seed + \"&nologo=true&enhance=true\";\n}\n\nreturn [{ json: { data: [{ url }] } }];"},"name":"DALL-E Thumbnail B","type":"n8n-nodes-base.code","typeVersion":2,"position":[5824,112],"id":"191ceab6-b04e-420c-b1d6-a98ea1b75225","continueOnFail":true},{"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nconst d = $input.first().json;\nlet thumbUrl = stored.thumbBUrl || '';\nif (!d.error && (d.url || d.data?.[0]?.url)) {\n  thumbUrl = d.url || d.data?.[0]?.url || '';\n  if (thumbUrl) stored.thumbBUrl = thumbUrl;\n}\nreturn [{ json: { ...(stored.pendingVideoData || {}), thumbBUrl: stored.thumbBUrl || '', thumbCUrl: stored.thumbCUrl || '', thumbAUrl: stored.thumbAUrl || '' } }];"},"name":"Carry Data After B","type":"n8n-nodes-base.code","typeVersion":2,"position":[6016,112],"id":"b033b0d6-a01b-49b1-bbdf-34e35d98b698"},{"parameters":{"jsCode":"const GOOGLE_AI_KEY = \"YOUR_GOOGLE_AI_API_KEY\";\nconst topicHint = $json.topic || \"South Asian history\";\nconst basePrompt = $json.thumbnail_prompt_c || ($json.thumbnail_prompt || \"cinematic South Asian history\") + \" epic wide cinematic shot\";\nconst prompt = \"Epic wide cinematic YouTube thumbnail for South Asian history video about \" + topicHint + \". \" + basePrompt + \". Epic establishing shot golden ratio composition, dramatic sky fire or storm clouds, intense atmosphere full scene, historical grandeur, warm dramatic lighting, 16:9 aspect ratio, no text, no watermark, ultra detailed photorealistic 8K National Geographic\";\n\nlet url = \"\";\n\ntry {\n  const nbRes = await fetch(\n    \"https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-image-preview:generateContent?key=\" + GOOGLE_AI_KEY,\n    {\n      method: \"POST\",\n      headers: { \"Content-Type\": \"application/json\" },\n      body: JSON.stringify({\n        contents: [{ parts: [{ text: prompt }] }],\n        generationConfig: { responseModalities: [\"IMAGE\"], imagenConfig: { aspectRatio: \"16:9\" } }\n      })\n    }\n  );\n  const nbData = await nbRes.json();\n  const imageBase64 = nbData.candidates?.[0]?.content?.parts?.[0]?.inlineData?.data || \"\";\n  if (imageBase64) {\n    const imgbbForm = new URLSearchParams();\n    imgbbForm.append(\"image\", imageBase64);\n    const imgbbRes = await fetch(\"https://api.imgbb.com/1/upload?expiration=600&key=public_temp\", {\n      method: \"POST\", body: imgbbForm\n    });\n    const imgbbData = await imgbbRes.json();\n    if (imgbbData?.data?.url) {\n      url = imgbbData.data.url;\n    } else {\n      throw new Error(\"imgbb failed\");\n    }\n  } else {\n    throw new Error(nbData.error?.message || \"Google AI no image\");\n  }\n} catch(e) {\n  const seed = Math.floor(Math.random() * 999999);\n  url = \"https://image.pollinations.ai/prompt/\" + encodeURIComponent(prompt + \", 8K photorealistic no text no watermark\") + \"?width=1280&height=720&seed=\" + seed + \"&nologo=true&enhance=true\";\n}\n\nreturn [{ json: { data: [{ url }] } }];"},"name":"DALL-E Thumbnail C","type":"n8n-nodes-base.code","typeVersion":2,"position":[6224,112],"id":"8ccbc1f3-164e-4bb6-83f4-d8d842a2d531","continueOnFail":true},{"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nconst baseData = stored.pendingVideoData || {};\nconst d = $input.first().json;\nconst thumbCUrl = d.thumbCUrl || stored.thumbCUrl || d.url || d.data?.[0]?.url || '';\nif (thumbCUrl && !stored.thumbCUrl) stored.thumbCUrl = thumbCUrl;\nreturn [{ json: {\n  ...baseData,\n  thumbAUrl: stored.thumbAUrl || '',\n  thumbBUrl: stored.thumbBUrl || '',\n  thumbCUrl,\n  allThumbnails: [stored.thumbAUrl || '', stored.thumbBUrl || '', thumbCUrl].filter(u => u)\n} }];"},"name":"Collect All Thumbnails","type":"n8n-nodes-base.code","typeVersion":2,"position":[6416,112],"id":"307a2716-e1c4-44e4-afc0-00c993fc8a0e"},{"parameters":{"jsCode":"const d = $input.first().json;\ntry {\n  const data = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.anthropic.com/v1/messages',\n    headers: {\n      'x-api-key': 'YOUR_ANTHROPIC_API_KEY',\n      'anthropic-version': '2023-06-01',\n      'content-type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 300,\n      system: \"You are a visual content director who optimizes for YouTube CTR. Return ONLY valid JSON, no markdown.\",\n      messages: [{\"role\":\"user\",\"content\":\"Score these 3 YouTube thumbnail concepts on 4 dimensions each (1-10). Pick winner with highest total.\\n\\nVideo title: \" + (d.title || '') + \"\\nHook: \" + (d.hook || '') + \"\\nMood/niche: \" + (d.mood || d.content_type || '') + \"\\n\\nA_concept: '\" + (d.thumbnail_prompt || 'dramatic cinematic') + \"'\\nB_concept: '\" + (d.thumbnail_prompt_b || 'close-up dramatic') + \"'\\nC_concept: '\" + (d.thumbnail_prompt_c || 'epic wide shot') + \"'\\n\\nScore each on:\\n- clickability: instantly stops scroll, creates burning curiosity\\n- contrast: light vs dark pops on any background\\n- emotion: visible emotion/reaction triggers viewer response\\n- clarity_small: stays clear and recognizable at 120px icon size\\n\\nReturn JSON: {winner, winner_number, click_score, a_scores:{clickability,contrast,emotion,clarity_small,total}, b_scores:{clickability,contrast,emotion,clarity_small,total}, c_scores:{clickability,contrast,emotion,clarity_small,total}, reasoning, thumbnail_text_should_be_at}\"}]\n    }),\n    json: true\n  });\n  return [{ json: data }];\n} catch(e) {\n  return [{ json: { content: [{ text: '{}' }], error: e.message } }];\n}"},"name":"Claude Picks Best Thumbnail","type":"n8n-nodes-base.code","typeVersion":2,"position":[6624,112],"id":"3e91a26c-3959-4c86-8aa4-1849460d7f5e","continueOnFail":true},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst txt = raw.content?.[0]?.text || '{}';\nlet pick = {};\ntry { const m = txt.match(/\\{[\\s\\S]*\\}/); pick = m ? JSON.parse(m[0]) : {}; } catch(e) {}\n\nif (!pick.winner) pick = { winner: 'A', winner_number: 1, click_score: 8, reasoning: 'Dramatic original angle chosen as default' };\n\nconst stored = $getWorkflowStaticData('global');\nconst thumbNum = pick.winner_number || 1;\nconst thumbUrl = thumbNum === 2 ? (stored.thumbBUrl || stored.thumbAUrl || '') :\n                 thumbNum === 3 ? (stored.thumbCUrl || stored.thumbAUrl || '') :\n                 (stored.thumbAUrl || '');\n\nstored.selectedThumbUrl = thumbUrl;\nstored.selectedThumbNumber = thumbNum;\nstored.thumbnailPick = pick;\n\nconst inc = raw;\nreturn [{ json: {\n  ...inc,\n  thumbUrl,\n  thumbAUrl: stored.thumbAUrl || '',\n  thumbBUrl: stored.thumbBUrl || '',\n  thumbCUrl: stored.thumbCUrl || '',\n  selectedThumb: thumbNum,\n  aiPickedThumb: thumbNum,\n  thumbnailClickScore: pick.click_score,\n  thumbnailReasoning: pick.reasoning\n} }];"},"name":"Parse Thumbnail Pick","type":"n8n-nodes-base.code","typeVersion":2,"position":[6816,112],"id":"3f2f2071-3e3c-4a3c-a5b8-11d51911af33"},{"parameters":{"operation":"sendPhoto","chatId":"8370599696","file":"={{ $json.thumbAUrl }}","additionalFields":{"caption":"=Option 1 - Dramatic\n\nAI Pick: Option #{{ $json.aiPickedThumb }} | Score: {{ $json.thumbnailClickScore }}/10\n{{ $json.thumbnailReasoning }}"}},"name":"Send 3 Thumbnails to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[7024,112],"id":"61072221-8221-4315-803b-a028bef20f4c","webhookId":"d988802c-f1cb-40d4-a3ed-43014dac9e5f","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nconst baseData = stored.pendingVideoData || {};\nconst thumbUrl = stored.selectedThumbUrl || stored.thumbAUrl || '';\nreturn [{ json: { ...baseData, thumbUrl } }];"},"name":"Prep ElevenLabs","type":"n8n-nodes-base.code","typeVersion":2,"position":[7216,112],"id":"518c69b3-a0ba-4997-9417-c71593cd5bc1"},{"parameters":{"method":"POST","url":"='https://api.elevenlabs.io/v1/text-to-speech/' + (($json.selectedVoice && $json.selectedVoice.voice_id) || 'Gfpl8Yo74Is0W6cPUWWT') + '/stream'","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"YOUR_CREATOMATE_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.lang === 'hindi' ? ($json.hindi_voiceover || $json.voiceover_full) : $json.voiceover_full }}"},{"name":"model_id","value":"eleven_turbo_v2_5"},{"name":"voice_settings","value":"=JSON.stringify({stability: ($json.selectedVoice && $json.selectedVoice.stability) || 0.35, similarity_boost: ($json.selectedVoice && $json.selectedVoice.similarity_boost) || 0.75, style: ($json.selectedVoice && $json.selectedVoice.style) || 0.20, use_speaker_boost: true, speed: ($json.selectedVoice && $json.selectedVoice.speed) || 1.0})"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"voiceover_audio"}}}},"name":"ElevenLabs Voiceover v6","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7424,112],"id":"b2e7eff3-52f3-4093-b14c-2de3e8b5173e","continueOnFail":true},{"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nconst d = stored.pendingVideoData || {};\nconst thumbUrl = stored.selectedThumbUrl || d.thumbUrl || '';\n\n// Use AI-generated clips first, fall back to Pexels/stock\nconst aiVids = d.aiVideoUrls || [];\nconst stockVids = d.videoUrls || [];\nconst vids = aiVids.length > 0 ? [...aiVids, ...stockVids] : stockVids;\n\nconst segs = d.script_segments || [];\nconst dur = d.estimated_duration || 58;\nconst isShorts = dur <= 70;\nconst clipDur = isShorts ? 2.3 : 4.0;\nconst channelName = (d.memory && d.memory.channelName) || 'Empires Untold';\nconst thumbnailText = ((d.thumbnail_text || '').toUpperCase().split(' ').slice(0, 3).join(' '));\nconst hookText = (d.hook || '').split(' ').slice(0, 8).join(' ').toUpperCase() || 'THE TRUTH THEY NEVER TOLD YOU';\nconst textPos = d.thumbnail_text_position === 'top' ? '11%' : '83%';\nconst hookWords = hookText.split(' ');\n\n// VIDEO CLIPS - hard cut every 2-3 seconds, Ken Burns zoom\nconst clipCount = Math.max(Math.ceil(dur / clipDur) + 2, 4);\nconst videoClips = vids.slice(0, clipCount).map((url, i) => ({\n  type: 'video', track: 1,\n  time: parseFloat((i * clipDur).toFixed(2)),\n  duration: parseFloat((clipDur + 0.5).toFixed(2)),\n  source: url, fit: 'cover', volume: '0%',\n  // Ken Burns zoom - alternating in/out for cinematic movement\n  zoom: i % 2 === 0 ? { start: '100%', end: '108%', duration: parseFloat(clipDur.toFixed(2)) } : { start: '108%', end: '100%', duration: parseFloat(clipDur.toFixed(2)) },\n  // Whip pan transitions\n  enter: i > 0 ? { effect: 'slide', duration: 0.15, direction: ['right','left','up','left','right','down'][i % 6] } : undefined\n}));\n\n// HOOK TEXT - word-by-word reveal starting at 0.3s (no separate bg overlay - text has stroke)\nconst hookWordClips = hookWords.slice(0, 6).map((word, i) => ({\n  type: 'text', track: 3,\n  time: parseFloat((0.3 + i * 0.55).toFixed(2)),\n  duration: parseFloat(Math.max(7 - i * 0.55, 1.5).toFixed(2)),\n  text: word,\n  font_family: 'Montserrat', font_weight: '900',\n  font_size: word.length > 6 ? '72px' : '96px',\n  fill_color: i === 0 ? '#FF4B4B' : '#FFFFFF',\n  stroke_color: '#000000', stroke_width: '5px',\n  x_alignment: '50%',\n  y_alignment: i < 3 ? '40%' : '52%',\n  width: '90%',\n  enter: { effect: 'scale', duration: 0.2, easing: 'bounce-out' },\n  exit: { effect: 'fade', duration: 0.15 }\n}));\n\n// ANIMATED CAPTIONS - Hormozi/MrBeast word-by-word style, yellow for key words\nconst segDur = parseFloat(Math.max((dur - 8) / Math.max(segs.length, 1), 0.5).toFixed(2));\nconst captionClips = segs.slice(0, 16).map((seg, i) => {\n  const startTime = parseFloat((8 + i * segDur).toFixed(2));\n  const text = ((seg.caption || (seg.text || '').slice(0, 60) || '').trim()).toUpperCase();\n  const hasNumbers = /\\d/.test(text);\n  const isShockWord = /\\b(NEVER|SECRET|TRUTH|HIDDEN|REAL|ONLY|FIRST|FINAL|WARNING|SHOCKING|EXPOSED|REVEALED|BILLION|TRILLION|MILLION|KILLED|DESTROYED|STOLE|LIED)\\b/.test(text);\n  const isKeyMoment = seg.micro_cliffhanger || seg.is_payoff;\n\n  return {\n    type: 'text', track: 4,\n    time: startTime,\n    duration: Math.max(segDur - 0.05, 0.3),\n    text,\n    font_family: 'Montserrat', font_weight: '900',\n    font_size: hasNumbers ? '80px' : (isShockWord ? '72px' : '64px'),\n    fill_color: (hasNumbers || isShockWord) ? '#f7c204' : '#FFFFFF',\n    stroke_color: '#000000', stroke_width: '3px',\n    x_alignment: '50%', y_alignment: '80%', width: '88%',\n    enter: { effect: isKeyMoment ? 'scale' : 'fade', duration: 0.08, easing: 'bounce-out' },\n    exit: { effect: 'fade', duration: 0.06 }\n  };\n});\n\n// CHANNEL WATERMARK\nconst watermark = {\n  type: 'text', track: 5, time: 0, duration: dur,\n  text: channelName,\n  font_family: 'Montserrat', font_weight: '700', font_size: '20px',\n  fill_color: '#FFFFFF', x_alignment: '50%', y_alignment: '4%',\n  opacity: '75%',\n  background_color: 'rgba(0,0,0,0.4)',\n  background_x_padding: '2%', background_y_padding: '1%'\n};\n\n// SUBSCRIBE PULSE - red bounce at 85% mark\nconst subscribeTime = parseFloat(Math.max(dur - 7, 0).toFixed(2));\nconst subscribeAnim = {\n  type: 'text', track: 6,\n  time: subscribeTime, duration: 7,\n  text: 'SUBSCRIBE',\n  font_family: 'Montserrat', font_weight: '900', font_size: '52px',\n  fill_color: '#FFFFFF', background_color: '#FF0000',\n  background_x_padding: '2%', background_y_padding: '1%',\n  x_alignment: '50%', y_alignment: '50%',\n  enter: { effect: 'scale', duration: 0.5, easing: 'bounce-out' }\n};\n\n// POST-WATCH SATISFACTION CTA - gold text final 5 seconds\nconst outroText = {\n  type: 'text', track: 7,\n  time: parseFloat(Math.max(dur - 5, 0).toFixed(2)), duration: 5,\n  text: 'Share this - most people will never know this.',\n  font_family: 'Montserrat', font_weight: '700', font_size: '30px',\n  fill_color: '#f7c204',\n  x_alignment: '50%', y_alignment: '62%', width: '82%',\n  enter: { effect: 'fade', duration: 0.5 }\n};\n\n// THUMBNAIL TEXT OVERLAY - max 3 words\nconst thumbTextEl = thumbnailText ? {\n  type: 'text', track: 8, time: 0, duration: dur,\n  text: thumbnailText,\n  font_family: 'Montserrat', font_weight: '900', font_size: '72px',\n  fill_color: '#FFFFFF', stroke_color: '#000000', stroke_width: '4px',\n  x_alignment: '50%', y_alignment: textPos, width: '82%'\n} : null;\n\n// Build elements - NO type:rectangle (invalid in Creatomate). Only video/text/image/audio.\nconst elements = [\n  ...videoClips.filter(c => c.source),\n  ...hookWordClips,\n  ...captionClips,\n  watermark,\n  subscribeAnim,\n  outroText\n];\nif (thumbTextEl) elements.push(thumbTextEl);\n\nconst creatomateSource = {\n  output_format: 'mp4', width: 1080, height: 1920, frame_rate: 30, duration: dur,\n  elements\n};\n\nconst sm = stored.scriptMeta || {};\nreturn [{ json: { ...d, thumbUrl, creatomateSource, videoTitle: sm.title || d.title || '', videoHook: sm.hook || d.hook || '' } }];\n"},"name":"Build Render Payload v6","type":"n8n-nodes-base.code","typeVersion":2,"position":[7616,112],"id":"8a17bd5d-5c58-4438-96e1-0743da5588a5"},{"parameters":{"method":"POST","url":"https://api.creatomate.com/v1/renders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_CREATOMATE_API_KEY_2"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"source","value":"={{ $json.creatomateSource }}"},{"name":"metadata","value":"={{ JSON.stringify({ title: $json.videoTitle }) }}"}]},"options":{},"contentType":"json"},"name":"Creatomate Render","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7824,112],"id":"034b245c-1ba0-490f-a5dc-64a11a2cc772","continueOnFail":true},{"parameters":{"amount":90},"name":"Wait 90s Render","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8016,112],"id":"1e9ff0e9-d8d9-4af8-b7fb-bacaa7ff4957","webhookId":"fa56fbcd-f4d7-4d95-8fee-382eef97db30"},{"parameters":{"url":"={{ \"https://api.creatomate.com/v1/renders/\" + $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_CREATOMATE_API_KEY_2"}]},"options":{}},"name":"Poll Render Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8224,112],"id":"9f3a98d5-223a-4866-8de9-94391084418c","continueOnFail":true},{"parameters":{"method":"POST","url":"https://api.telegram.org/botmYOUR_TELEGRAM_BOT_TOKEN/getFile","sendQuery":true,"queryParameters":{"parameters":[{"name":"file_id","value":"={{ $json.fileId }}"}]},"options":{}},"name":"Get Telegram File URL","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4592,448],"id":"00f215da-2130-4e45-99d6-972b2dab07c8","continueOnFail":true},{"parameters":{"jsCode":"const d = $input.first().json;\nconst filePath = d.result?.file_path || '';\nconst downloadUrl = `https://api.telegram.org/file/botmYOUR_TELEGRAM_BOT_TOKEN/${filePath}`;\nconst editInstructions = d.editInstructions || 'enhance quality, add cinematic captions, add dramatic feel, make viral';\nreturn [{ json: { ...d, userVideoUrl: downloadUrl, editInstructions, isUserVideo: true, videoStrategy: 'user_uploaded', estimatedCost: '$0.00' } }];"},"name":"Prepare User Video","type":"n8n-nodes-base.code","typeVersion":2,"position":[4800,448],"id":"c4a26851-0f90-4acc-9ba4-3fb9c0b5590d"},{"parameters":{"jsCode":"const d = $input.first().json;\ntry {\n  const response = await fetch('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': 'YOUR_ANTHROPIC_API_KEY',\n      'anthropic-version': '2023-06-01',\n      'content-type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: 'claude-sonnet-4-20250514',\n      max_tokens: 2000,\n      system: \"You are a viral video editor and director. Return ONLY valid JSON, no markdown.\",\n      messages: [{\"role\":\"user\",\"content\":\"User wants: \" + (d.editInstructions || 'enhance and make viral') + \"\\n\\nCreate video enhancement package. Return JSON: {title, description, tags, captions, overlay_text, thumbnail_text, suggested_music_mood, color_grade_style, viral_hooks}\"}]\n    })\n  });\n  const data = await response.json();\n  return [{ json: data }];\n} catch(e) {\n  return [{ json: { content: [{ text: '{}' }], error: e.message } }];\n}"},"name":"Claude Video Editor Brain","type":"n8n-nodes-base.code","typeVersion":2,"position":[4992,448],"id":"e9b0a9ce-0b2a-4acb-8a89-6bfa90470b2d","continueOnFail":true},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst txt = (raw.content && raw.content[0] && raw.content[0].text) || '{}';\nlet d = {};\ntry { const m = txt.match(/\\{[\\s\\S]*\\}/); d = m ? JSON.parse(m[0]) : {}; } catch(e) {}\nif (!d.title) d = {\n  title: 'You Need To See This', description: 'Watch this incredible video.',\n  tags: ['viral','trending','shorts'], captions: [], thumbnail_text: 'MUST WATCH'\n};\n\nconst captions = d.captions || [];\nconst dur = 58;\nconst channelName = 'Empires Untold';\n\n// Hormozi-style animated captions - yellow highlight for numbers/shock words, ALL CAPS\nconst captionClips = captions.slice(0, 12).map((c, i) => {\n  const text = ((c.text || '').toUpperCase());\n  const hasNumbers = /\\d/.test(text);\n  const isShockWord = /\\b(NEVER|TRUTH|HIDDEN|SHOCKING|MILLION|BILLION|TRILLION|KILLED|LIED|EXPOSED)\\b/.test(text);\n  return {\n    type: 'text', track: 3,\n    time: c.start_time !== undefined ? c.start_time : (i * 4.5),\n    duration: ((c.end_time || 0) - (c.start_time || 0)) || 4,\n    text,\n    font_family: 'Montserrat', font_weight: '900',\n    font_size: hasNumbers ? '80px' : (isShockWord ? '72px' : '64px'),\n    fill_color: (hasNumbers || isShockWord) ? '#f7c204' : '#FFFFFF',\n    stroke_color: '#000000', stroke_width: '3px',\n    x_alignment: '50%', y_alignment: '80%', width: '88%',\n    enter: { effect: 'scale', duration: 0.08, easing: 'bounce-out' },\n    exit: { effect: 'fade', duration: 0.06 }\n  };\n});\n\n// HOOK text overlay - first 5 seconds, large dramatic, Montserrat Black\nconst hookOverlay = {\n  type: 'text', track: 4, time: 0.5, duration: 5,\n  text: ((d.thumbnail_text || 'MUST WATCH').toUpperCase()),\n  font_family: 'Montserrat', font_weight: '900', font_size: '96px',\n  fill_color: '#FFFFFF', stroke_color: '#000000', stroke_width: '6px',\n  x_alignment: '50%', y_alignment: '48%', width: '88%',\n  enter: { effect: 'scale', duration: 0.3, easing: 'bounce-out' },\n  exit: { effect: 'fade', duration: 0.3 }\n};\n\n// Empires Untold watermark - top center\nconst watermark = {\n  type: 'text', track: 5, time: 0, duration: dur,\n  text: channelName,\n  font_family: 'Montserrat', font_weight: '700', font_size: '22px',\n  fill_color: '#FFFFFF', x_alignment: '50%', y_alignment: '4%',\n  opacity: '80%',\n  background_color: 'rgba(0,0,0,0.35)',\n  background_x_padding: '2%', background_y_padding: '1%'\n};\n\n// SUBSCRIBE - red bounce at end, % padding (not px)\nconst subscribeEnd = {\n  type: 'text', track: 6, time: dur - 6, duration: 6,\n  text: 'SUBSCRIBE',\n  font_family: 'Montserrat', font_weight: '900', font_size: '52px',\n  fill_color: '#FFFFFF', background_color: '#FF0000',\n  background_x_padding: '2%', background_y_padding: '1%',\n  x_alignment: '50%', y_alignment: '50%',\n  enter: { effect: 'scale', duration: 0.5, easing: 'bounce-out' }\n};\n\nconst creatomateSource = {\n  output_format: 'mp4', width: 1080, height: 1920, frame_rate: 30, duration: dur,\n  elements: [\n    {\n      type: 'video', track: 1, time: 0,\n      source: raw.userVideoUrl || '',\n      fit: 'cover',\n      zoom: { start: '100%', end: '105%', duration: dur }\n    },\n    hookOverlay,\n    ...captionClips,\n    watermark,\n    subscribeEnd\n  ]\n};\n\ntry {\n  const stored = $getWorkflowStaticData('global');\n  stored.pendingVideoData = { ...raw, ...d, isUserVideo: true, estimatedCost: '$0.00' };\n} catch(e) {}\n\nreturn [{ json: { ...raw, ...d, creatomateSource } }];\n"},"name":"Build User Video Edit","type":"n8n-nodes-base.code","typeVersion":2,"position":[5200,448],"id":"76bcf88e-5db5-4eea-ad33-e7a39c52f86a"},{"parameters":{"jsCode":"const inputData = $input.first().json;\nconst stored = $getWorkflowStaticData('global');\nconst sm = stored.scriptMeta || {};\nconst pd = stored.pendingVideoData || {};\n\n// Read title/hook from stored scriptMeta (set by Parse Script v6 in THIS execution)\n// NOT from inputData which is the render result and always has empty title/hook\nconst title = sm.title || pd.title || inputData.title || 'Untitled';\nconst hook = sm.hook || pd.hook || inputData.hook || '';\n\n// Quality scores - try quality_score object (new format) then qualityScore (old format)\nconst qs = pd.quality_score || pd.qualityScore || {};\nconst qualityScore = qs.total || qs.total_score || '?';\nconst hookScore = qs.hook_score || '?';\nconst viralScore = qs.viral_score || '?';\nconst retentionScore = qs.retention_score || '?';\nconst trendScore = (pd.trend && pd.trend.trend_score) || pd.trendScore || '?';\n\n// Extract video URL from render result (inputData is Check Render Complete output)\nlet videoUrl = inputData.url || inputData.snapshot_url || inputData.render_url || '';\nif (!videoUrl && inputData.renderId) {\n  videoUrl = 'https://api.creatomate.com/v1/renders/' + inputData.renderId;\n}\nif (!videoUrl) videoUrl = pd.videoUrl || 'Processing...';\n\n// Update stored state\nconst mergedData = { ...pd, title, hook, videoUrl, renderError: inputData.error || false, renderErrorMsg: inputData.errorMsg || '' };\nstored.pendingVideoData = mergedData;\nstored.pendingVideo = {\n  ...mergedData,\n  thumbUrl: stored.selectedThumbUrl || pd.thumbUrl || '',\n  thumbAUrl: stored.thumbAUrl || '',\n  thumbBUrl: stored.thumbBUrl || '',\n  thumbCUrl: stored.thumbCUrl || '',\n  readyAt: new Date().toISOString()\n};\n\nconst voiceName = (pd.selectedVoice && pd.selectedVoice.voice_name) || 'Max';\nconst wasRewritten = pd.wasRewritten ? ' [auto-improved]' : '';\nconst srcLabel = pd.videoStrategy === 'kling_premium' ? 'Kling 3.0 Premium'\n  : pd.videoStrategy === 'google_veo_free' ? 'Google Veo (Free)'\n  : pd.videoStrategy === 'ai_veo3' ? 'Veo 3.1 AI'\n  : pd.isUserVideo ? 'Your Uploaded Video' : 'Pexels (Free)';\n\nconst renderStatus = inputData.error ? 'RENDER FAILED: ' + (inputData.errorMsg || 'unknown error') : '';\n\nconst msg = 'VIDEO READY FOR REVIEW\\n\\n' +\n  'Title: ' + title + '\\n' +\n  'Hook: \"' + hook + '\"\\n\\n' +\n  'Quality: ' + qualityScore + '/40' + wasRewritten + ' | Hook: ' + hookScore + ' | Viral: ' + viralScore + ' | Retention: ' + retentionScore + '\\n' +\n  'Trend: ' + trendScore + '/10\\n' +\n  'Voice: ' + voiceName + ' | Source: ' + srcLabel + '\\n' +\n  'Cost: ' + (pd.estimatedCost || '$0.00') + '\\n\\n' +\n  (renderStatus ? renderStatus + '\\n\\n' : '') +\n  'Preview: ' + videoUrl + '\\n' +\n  'Thumbnail: ' + (stored.selectedThumbUrl || 'N/A') + '\\n\\n' +\n  '3 thumbnails sent above. Reply THUMBNAIL:1/2/3 to override.\\n\\n' +\n  'PUBLISH - Post all 7 platforms\\nREJECT - Discard\\nEDIT: [notes] - Redo';\n\nreturn [{ json: { ...mergedData, title, hook, videoUrl, approvalMsg: msg, pendingApproval: true } }];\n"},"name":"Build Approval Message v6","type":"n8n-nodes-base.code","typeVersion":2,"position":[8416,112],"id":"03dbd401-d360-41d7-85a6-bdade4706c59"},{"parameters":{"chatId":"8370599696","text":"={{ $json.approvalMsg }}","additionalFields":{}},"name":"Telegram Approval","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[8624,32],"id":"c1a25344-ca69-40dd-831c-fa0b60326207","webhookId":"64e22564-ee8f-45fc-8c47-4c12e3f93f9f","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"method":"POST","url":"='https://graph.facebook.com/v18.0/' + ($env.WHATSAPP_PHONE_NUMBER_ID || 'skip') + '/messages'","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer skip"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"messaging_product","value":"whatsapp"},{"name":"to","value":"skip"},{"name":"type","value":"text"},{"name":"text","value":"={\"body\":\"VIDEO READY: {{ $json.title }} | {{ $json.videoUrl }} | Quality: {{ ($json.qualityScore||{}).total_score||'?' }}/50 | Reply PUBLISH or REJECT\"}"}]},"options":{}},"name":"WhatsApp Approval","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8624,176],"id":"495ac5e7-99cf-49be-a02e-e662012ea17d","continueOnFail":true},{"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nconst pending = stored.pendingVideo || {};\nif (!pending.videoUrl && !pending.readyAt) {\n  return [{ json: { error: true, errorMsg: 'No pending video found. Create a video first, then pick thumbnail.' } }];\n}\nconst inc = $input.first().json;\nreturn [{ json: { ...inc, ...pending } }];"},"name":"Load Pending Video","type":"n8n-nodes-base.code","typeVersion":2,"position":[8816,32],"id":"6293b483-720b-447e-8521-0033f45c781f"},{"parameters":{"resource":"video","operation":"upload","title":"={{ $json.lang === 'hindi' ? ($json.hindi_title || $json.title) : $json.title }}","categoryId":"22","options":{}},"name":"YouTube Upload","type":"n8n-nodes-base.youTube","typeVersion":1,"position":[9024,-160],"id":"b2de212c-7b18-4a63-b1ee-f709386cb2c1","credentials":{"youTubeOAuth2Api":{"id":"mQzPTe3z7U0ZFuYB","name":"YouTube account"}}},{"parameters":{"method":"POST","url":"='https://graph.facebook.com/v18.0/' + ($env.INSTAGRAM_ACCOUNT_ID || 'skip') + '/media'","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"media_type","value":"REELS"},{"name":"video_url","value":"={{ $json.videoUrl }}"},{"name":"caption","value":"={{ $json.title }}\n\n{{ $json.description }}\n\n{{ ($json.tags || []).slice(0,15).map(t => '#' + t).join(' ') }}"},{"name":"cover_url","value":"={{ $json.thumbUrl || '' }}"},{"name":"access_token","value":"skip"}]},"options":{}},"name":"Instagram Reels","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9024,-32],"id":"4fac1ca3-dcb3-46f6-92b7-68f8496e24e2","continueOnFail":true},{"parameters":{"method":"POST","url":"https://open-api.tiktok.com/share/video/upload/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer skip"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"source_info","value":"={\"source\":\"PULL_FROM_URL\",\"url\":\"{{ $json.videoUrl }}\"}"},{"name":"title","value":"={{ $json.title }} {{ ($json.tags || []).slice(0,5).map(t => '#' + t).join(' ') }}"},{"name":"privacy_level","value":"PUBLIC"}]},"options":{}},"name":"TikTok Upload","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9024,96],"id":"1a29ea97-8360-456f-847b-3cb1281b87be","continueOnFail":true},{"parameters":{"method":"POST","url":"='https://graph.facebook.com/v18.0/' + ($env.FACEBOOK_PAGE_ID || 'skip') + '/videos'","sendBody":true,"bodyParameters":{"parameters":[{"name":"file_url","value":"={{ $json.videoUrl }}"},{"name":"description","value":"={{ $json.title }}\n\n{{ $json.description }}\n\n{{ ($json.tags || []).map(t => '#' + t).join(' ') }}"},{"name":"access_token","value":"skip"},{"name":"published","value":true}]},"options":{}},"name":"Facebook Reels","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9024,208],"id":"f19eaa83-23d6-489c-bc98-396988fd8c01","continueOnFail":true},{"parameters":{"method":"POST","url":"https://adsapi.snapchat.com/v1/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer skip"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"media","value":"={\"name\":\"{{ $json.title }}\",\"type\":\"VIDEO\",\"ad_account_id\":\"skip\"}"},{"name":"media_upload_url","value":"={{ $json.videoUrl }}"}]},"options":{}},"name":"Snapchat Spotlight","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9024,336],"id":"87f6287b-601e-4ce8-b130-54da871049d0","continueOnFail":true},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/youtube/v3/videos?part=snippet,status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer skip"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"snippet","value":"={\"title\":\"#Shorts {{ $json.title }}\",\"description\":\"{{ $json.description }}\",\"tags\":{{ JSON.stringify($json.tags || []) }},\"categoryId\":\"22\"}"},{"name":"status","value":"{\"privacyStatus\":\"public\",\"selfDeclaredMadeForKids\":false}"}]},"options":{}},"name":"YouTube Shorts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9024,448],"id":"7fd9f4b0-a1a1-4dbb-b4b1-5909e5a4c609","continueOnFail":true},{"parameters":{"operation":"append","documentId":"YOUR_IMGBB_API_KEY","sheetName":"Video Log","columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('YYYY-MM-DD') }}","Title":"={{ $json.title }}","Topic":"={{ $json.topic || $json.customTopic || 'Auto' }}","Language":"={{ $json.lang || 'english' }}","Voice":"={{ ($json.selectedVoice || {}).voice_name || 'Max' }}","Source":"={{ $json.videoStrategy }}","Quality_Score":"={{ ($json.qualityScore || {}).total_score || 'N/A' }}","Trend_Score":"={{ ($json.trend || {}).trend_score || 'N/A' }}","Cost":"={{ $json.estimatedCost || '$0.00' }}","Video_URL":"={{ $json.videoUrl }}","Thumbnail":"={{ $json.thumbUrl }}","Was_Rewritten":"={{ $json.wasRewritten ? 'YES' : 'NO' }}","Status":"PUBLISHED","Tags":"={{ ($json.tags || []).join(',') }}"}},"options":{}},"name":"Log Video to Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[9216,160],"id":"7bf82b41-84ad-4b36-8f37-1191655bbfdc","credentials":{"googleSheetsOAuth2Api":{"id":"nv1l4UVcTYX1XyB9","name":"Google Sheets OAuth2 API"}}},{"parameters":{"operation":"append","documentId":"YOUR_IMGBB_API_KEY","sheetName":"Voice Analytics","columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('YYYY-MM-DD') }}","Topic":"={{ $json.topic || $json.customTopic || 'Auto' }}","Niche":"={{ $json.niche || 'general' }}","Language":"={{ $json.lang || 'english' }}","Voice_Used":"={{ ($json.selectedVoice || {}).voice_name || 'Max' }}","Voice_ID":"={{ ($json.selectedVoice || {}).voice_id || '' }}","Mood_Detected":"={{ ($json.selectedVoice || {}).mood_detected || '' }}","Stability":"={{ ($json.selectedVoice || {}).stability || 0.35 }}","Style":"={{ ($json.selectedVoice || {}).style || 0.20 }}","Speed":"={{ ($json.selectedVoice || {}).speed || 1.0 }}","Quality_Score":"={{ ($json.qualityScore || {}).total_score || 'N/A' }}","Video_Source":"={{ $json.videoStrategy || '' }}"}},"options":{}},"name":"Log Voice Analytics","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[9424,48],"id":"f5b15b2b-665f-4bd3-a72c-dee221b7d264","credentials":{"googleSheetsOAuth2Api":{"id":"nv1l4UVcTYX1XyB9","name":"Google Sheets OAuth2 API"}}},{"parameters":{"jsCode":"const d = $input.first().json;\nconst stored = $getWorkflowStaticData('global');\nconst hasKling = (d.videoStrategy || '').includes('kling');\nconst has3Thumbs = !d.isUserVideo;\n\nconst costs = {\n  date: new Date().toISOString().split('T')[0],\n  month: new Date().toISOString().slice(0,7),\n  title: d.title || 'Unknown',\n  anthropic: 0.09,\n  elevenlabs: 0.11,\n  openai: has3Thumbs ? 0.12 : 0.00,\n  fal: hasKling ? 1.88 : 0.00,\n  creatomate: 0.10,\n  total: 0\n};\ncosts.total = costs.anthropic + costs.elevenlabs + costs.openai + costs.fal + costs.creatomate;\n\nif (!stored.monthlyCost) stored.monthlyCost = 0;\nif (!stored.costLog) stored.costLog = [];\nstored.monthlyCost = parseFloat((stored.monthlyCost + costs.total).toFixed(2));\nstored.costLog.unshift(costs);\nif (stored.costLog.length > 500) stored.costLog = stored.costLog.slice(0,500);\n\nreturn [{ json: { ...d, costEntry: costs, monthlyCostTotal: stored.monthlyCost } }];"},"name":"Log Cost Tracker","type":"n8n-nodes-base.code","typeVersion":2,"position":[9616,48],"id":"a7a3c46e-4e7e-43f7-857f-e4ba85aa6b5b"},{"parameters":{"operation":"append","documentId":"YOUR_IMGBB_API_KEY","sheetName":"Cost Tracker","columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $json.costEntry.date }}","Month":"={{ $json.costEntry.month }}","Video_Title":"={{ $json.costEntry.title }}","Anthropic":"={{ $json.costEntry.anthropic }}","ElevenLabs":"={{ $json.costEntry.elevenlabs }}","OpenAI_DALLE":"={{ $json.costEntry.openai }}","fal_ai_Kling":"={{ $json.costEntry.fal }}","Creatomate":"={{ $json.costEntry.creatomate }}","Total_Video":"={{ $json.costEntry.total }}","Monthly_Running":"={{ $json.monthlyCostTotal }}"}},"options":{}},"name":"Log Cost to Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[9824,48],"id":"51a0f8bf-9527-4148-b481-9b53c081c9f7","credentials":{"googleSheetsOAuth2Api":{"id":"nv1l4UVcTYX1XyB9","name":"Google Sheets OAuth2 API"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"budget","leftValue":"={{ $json.monthlyCostTotal }}","rightValue":80,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"name":"Check Monthly Budget","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[10016,48],"id":"1a0c0a60-8d0a-4c9c-9e68-7adeb67a8ea2"},{"parameters":{"chatId":"8370599696","text":"=BUDGET ALERT\n\nMonthly spend: ${{ $json.monthlyCostTotal }}\nLimit: $80\n\nConsider pausing non-essential videos.\nSend PAUSE to halt scheduled runs.\nAuto-pause triggers at $100.","additionalFields":{}},"name":"Budget Alert Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[10224,-48],"id":"a4f26112-f28c-4f8b-bbf1-1ed2f1e49a1a","webhookId":"e67416ce-91fb-4694-ba8e-e859f4f207d0","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"chatId":"8370599696","text":"=Published to all 7 platforms!\n\nTitle: {{ $json.title }}\nVoice: {{ ($json.selectedVoice||{}).voice_name || 'Max' }}\nSource: {{ $json.videoStrategy }}\nQuality: {{ ($json.qualityScore||{}).total_score || 'N/A' }}/50\nCost This Video: ${{ ($json.costEntry||{}).total || '~0.42' }}\nMonthly Total: ${{ $json.monthlyCostTotal || '?' }}\n\nYouTube + YouTube Shorts\nTikTok\nInstagram Reels\nFacebook Reels\nSnapchat Spotlight\n\nLogged to Google Sheets.","additionalFields":{}},"name":"Success Notify v6","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[10224,112],"id":"8bbdcef7-055a-464d-b0ad-bcc7b3168259","webhookId":"c93d707d-f45d-4939-be7e-aa3653f1ee43","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"method":"POST","url":"='https://graph.facebook.com/v18.0/' + ($env.WHATSAPP_PHONE_NUMBER_ID || 'skip') + '/messages'","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer skip"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"messaging_product","value":"whatsapp"},{"name":"to","value":"skip"},{"name":"type","value":"text"},{"name":"text","value":"={\"body\":\"Published! {{ $json.title }} | Cost: ${{ ($json.costEntry||{}).total || '~0.42' }} | Monthly: ${{ $json.monthlyCostTotal || '?' }} | 7 platforms done\"}"}]},"options":{}},"name":"WhatsApp Success","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10416,112],"id":"3b8ca7bc-32e0-4334-bddb-ec30d075655e","continueOnFail":true},{"parameters":{"jsCode":"const d = $input.first().json;\ntry {\n  const response = await fetch('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': 'YOUR_ANTHROPIC_API_KEY',\n      'anthropic-version': '2023-06-01',\n      'content-type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: 'claude-sonnet-4-20250514',\n      max_tokens: 1500,\n      system: \"You are a YouTube channel analytics advisor. Return ONLY valid JSON, no markdown.\",\n      messages: [{\"role\":\"user\",\"content\":\"Weekly YouTube trend analysis for Empires Untold + viral content channels. Date: \" + new Date().toISOString().split('T')[0] + \"\\n\\nChannel stats: videos=\" + ((d.memory && d.memory.totalVideos) || 0) + \", best_niche=\" + ((d.memory && d.memory.bestNiche) || 'general') + \", topics=\" + JSON.stringify((d.memory && d.memory.recentTopics) || []) + \"\\n\\nAnalyze what top creators in South Asian history, viral facts, and documentary niches are doing THIS WEEK:\\n1. Thumbnail style: which compositions, lighting, colors drive CTR\\n2. Caption style: size, animation, color patterns that retain viewers\\n3. Hook style: opening line patterns that stop scroll\\n4. Video length optimal for Shorts vs long-form\\n5. Title patterns getting clicks right now\\n\\nReturn JSON: {report_date, total_videos, best_niche, monthly_cost_estimate, top_trending_topics, voice_insights, content_recommendations, weekly_summary, action_items, trending_thumbnail_style, trending_caption_style, trending_hook_style, optimal_video_length_seconds, title_pattern_this_week, update_defaults}\"}]\n    })\n  });\n  const data = await response.json();\n  return [{ json: data }];\n} catch(e) {\n  return [{ json: { content: [{ text: '{}' }], error: e.message } }];\n}"},"name":"Generate Weekly Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[992,1952],"id":"65a85d43-73c5-4083-a53d-f97a1aefd2ba","continueOnFail":true},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst txt = raw.content?.[0]?.text || '{}';\nlet r = {};\ntry { const m = txt.match(/\\{[\\s\\S]*\\}/); r = m ? JSON.parse(m[0]) : {}; } catch(e) {}\n\nif (!r.weekly_summary) r = {\n  report_date: new Date().toISOString().split('T')[0],\n  total_videos: '?',\n  monthly_cost_estimate: '$0',\n  top_trending_topics: ['Ancient civilizations','AI developments','True crime','Space exploration','Geopolitics'],\n  weekly_summary: 'Weekly report generated. Keep creating consistent content.',\n  content_recommendations: ['Focus on trending historical topics','Try emotional storytelling','Use Samantha voice for true crime'],\n  action_items: ['Review voice analytics','Check trending niches','Plan next week topics']\n};\n\nconst stored = $getWorkflowStaticData('global');\nconst memory = stored.videoMemory || {};\nconst monthlyCost = stored.monthlyCost || 0;\nconst voicePerf = memory.voicePerformance || {};\n\nlet voiceSummary = Object.entries(voicePerf).map(([v,d]) => `${v}: ${d.count||0} videos`).join(', ') || 'No voice data yet';\n\nconst weeklyMsg = `WEEKLY REPORT - ${r.report_date}\\n\\n` +\n  `Videos Created: ${memory.totalVideos || 0} all time\\n` +\n  `Monthly Spend: $${monthlyCost.toFixed(2)}/$80 budget\\n` +\n  `Best Niche: ${memory.bestPerformingNiche || 'general'}\\n\\n` +\n  `TOP TRENDING THIS WEEK:\\n${(r.top_trending_topics || []).map((t,i) => `${i+1}. ${t}`).join('\\n')}\\n\\n` +\n  `VOICE PERFORMANCE:\\n${voiceSummary}\\n\\n` +\n  `RECOMMENDATIONS:\\n${(r.content_recommendations || []).map((c,i) => `${i+1}. ${c}`).join('\\n')}\\n\\n` +\n  `ACTION ITEMS:\\n${(r.action_items || []).map((a,i) => `${i+1}. ${a}`).join('\\n')}`;\n\nreturn [{ json: { ...raw, weeklyReport: r, weeklyMsg } }];"},"name":"Parse Weekly Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,1952],"id":"c1ea72d7-d343-4d29-9f57-469783d82d2c"},{"parameters":{"chatId":"8370599696","text":"={{ $json.weeklyMsg }}","additionalFields":{}},"name":"Send Weekly Report","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1392,1952],"id":"8410a3b3-5177-445b-8fd9-0824a42c3f71","webhookId":"6871096d-b773-4f6d-8cac-9ecd8997f7f9","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"jsCode":"const d = $input.first().json;\ntry {\n  const response = await fetch('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: {\n      'x-api-key': 'YOUR_ANTHROPIC_API_KEY',\n      'anthropic-version': '2023-06-01',\n      'content-type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 600,\n      system: \"You are a voice and content trend analyst. Return ONLY valid JSON, no markdown.\",\n      messages: [{\"role\":\"user\",\"content\":\"Today: \" + new Date().toISOString().split('T')[0] + \"\\n\\nAnalyze trending voice narration styles on YouTube/TikTok. Voices: Taksh(Hindi), Bradford(dark), Max(documentary), Samantha(emotional).\\n\\nReturn JSON: {trending_style, trend_description, recommended_voice, recommend_setting_update, suggested_stability, suggested_style_score, update_message}\"}]\n    })\n  });\n  const data = await response.json();\n  return [{ json: data }];\n} catch(e) {\n  return [{ json: { content: [{ text: '{}' }], error: e.message } }];\n}"},"name":"Voice Trend Detector","type":"n8n-nodes-base.code","typeVersion":2,"position":[992,2160],"id":"b9aa40fe-0089-436c-bfac-3fb53bf45680","continueOnFail":true},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst txt = raw.content?.[0]?.text || '{}';\nlet vt = {};\ntry { const m = txt.match(/\\{[\\s\\S]*\\}/); vt = m ? JSON.parse(m[0]) : {}; } catch(e) {}\nif (!vt.trending_style) vt = { trending_style: 'Documentary narration', trend_description: 'Hushed, informative, documentary style continues trending', recommended_voice: 'Max', recommend_setting_update: false, update_message: 'Current settings optimal. No change needed.' };\n\nconst trendMsg = `VOICE TREND ALERT - ${new Date().toISOString().split('T')[0]}\\n\\nTrending Style: ${vt.trending_style}\\n${vt.trend_description}\\n\\nRecommended Voice: ${vt.recommended_voice}\\n${vt.update_message}\\n\\n${vt.recommend_setting_update ? 'Reply YES to update voice settings automatically.' : 'No action needed this week.'}`;\n\nreturn [{ json: { ...raw, voiceTrendData: vt, trendMsg } }];"},"name":"Parse Voice Trend","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,2160],"id":"042b17ff-e7d1-4818-a8bb-d62dd3d45a15"},{"parameters":{"chatId":"8370599696","text":"={{ $json.trendMsg }}","additionalFields":{}},"name":"Send Voice Trend","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1392,2160],"id":"63e43811-3cf7-47a8-ab88-d5f4f4272c8f","webhookId":"c6bcd488-c1b1-469c-9806-fe6121fd432d","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nconst checkTime = new Date().toISOString();\n\nconst keys = [\n  ['ANTHROPIC_API_KEY', 'YOUR_ANTHROPIC_API_KEY'],\n  ['ELEVENLABS_API_KEY', 'YOUR_CREATOMATE_API_KEY'],\n  ['FAL_AI_API_KEY', 'YOUR_FAL_AI_API_KEY'],\n  ['OPENAI_API_KEY', 'YOUR_OPENAI_API_KEY'],\n  ['CREATOMATE_API_KEY', 'd89c6c23990747248fa4a5e8360'],\n  ['PEXELS_API_KEY', 'YOUR_ELEVENLABS_API_KEY'],\n  ['GOOGLE_AI_STUDIO_API_KEY', 'YOUR_GOOGLE_AI_API_KEY'],\n  ['TELEGRAM_BOT_TOKEN', 'mYOUR_TELEGRAM_BOT_TOKEN'],\n  ['TELEGRAM_CHAT_ID', '8370599696'],\n  ['GOOGLE_SHEETS_ID', 'YOUR_IMGBB_API_KEY'],\n  ['ELEVENLABS_VOICE_TAKSH', 'aF6JALq9R6tXwCczjhKH'],\n  ['ELEVENLABS_VOICE_MAX', 'Gfpl8Yo74Is0W6cPUWWT'],\n  ['ELEVENLABS_VOICE_SAMANTHA', 'uIZsnBL0YK1S5j69bAih']\n];\n\nconst results = keys.map(([name, val]) => ({ name, ok: !!(val && String(val).length > 5), val: val ? `${String(val).slice(0,6)}...` : 'MISSING' }));\nconst missing = results.filter(r => !r.ok);\nconst allOk = missing.length === 0;\n\nstored.lastHealthCheck = checkTime;\nstored.lastApiStatus = allOk ? 'ALL_OK' : `MISSING: ${missing.map(r=>r.name).join(', ')}`;\n\nconst checkDate = checkTime.split('T')[0];\nconst paused = stored.paused ? 'PAUSED' : 'RUNNING';\nconst monthlyCost = stored.monthlyCost || 0;\nconst today = new Date().toISOString().split('T')[0];\nconst todayCount = (stored.dailyCount || {})[today] || 0;\n\nconst healthMsg = `DAILY HEALTH CHECK - ${checkDate}\\nStatus: ${paused} | Today: ${todayCount}/10 videos | Monthly: $${monthlyCost.toFixed(2)}\\n\\nAPI Keys:\\n` +\n  results.map(r => `${r.ok ? '?' : '?'} ${r.name}: ${r.ok ? 'OK' : 'MISSING'}`).join('\\n') +\n  `\\n\\nOverall: ${allOk ? 'ALL SYSTEMS OPERATIONAL' : 'ACTION NEEDED'}` +\n  (missing.length > 0 ? `\\nMissing: ${missing.map(r=>r.name).join(', ')}` : '');\n\nreturn [{ json: { healthMsg, allOk, missing: missing.map(r=>r.name), monthlyCost } }];"},"name":"API Health Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[992,2352],"id":"3047e166-544b-4515-9758-07552c58010a"},{"parameters":{"chatId":"8370599696","text":"={{ $json.healthMsg }}","additionalFields":{}},"name":"Send Health Report","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1200,2352],"id":"bf38599a-b3d5-4243-b365-9c8317014a5b","webhookId":"004da280-bbb9-43d2-a862-12abdd7e9cc9","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst txt = raw.content?.[0]?.text || '{}';\nlet trans = {};\ntry { const m = txt.match(/\\{[\\s\\S]*\\}/); trans = m ? JSON.parse(m[0]) : {}; } catch(e) {}\nconst stored = $getWorkflowStaticData('global');\nconst base = stored.pendingVideoData || {};\nreturn [{ json: {\n  ...base,\n  hindi_title: trans.hindi_title || base.title,\n  hindi_voiceover: trans.hindi_voiceover || base.voiceover_full,\n  hindi_description: trans.hindi_description || base.description,\n  hindi_hook: trans.hindi_hook || base.hook,\n  transliterated_title: trans.transliterated_title || '',\n  tags_hindi: trans.tags_hindi || base.tags || [],\n  translationDone: true\n}}];"},"name":"Parse Translation","type":"n8n-nodes-base.code","typeVersion":2,"position":[4592,-176],"id":"9326d020-2956-424b-94f8-d52289754f7b"},{"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nconst memory = stored.videoMemory || {};\nreturn [{ json: { memory, monthlyCost: stored.monthlyCost || 0, checkDate: new Date().toISOString() } }];"},"name":"Load Weekly Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,1952],"id":"e510e87d-3f29-4573-be1c-1431abddcab2"},{"parameters":{"jsCode":"const d = $input.first().json;\nconst stored = $getWorkflowStaticData('global');\n\nconst score = (d.qualityScore || {}).total_score || 0;\nconst hookScore = (d.qualityScore || {}).hook_score || 0;\nconst viralScore = (d.qualityScore || {}).viral_score || 0;\nconst topic = d.topic || d.customTopic || d.niche || 'general';\n\nif (!stored.topicScores) stored.topicScores = {};\nif (!stored.highScoringTopics) stored.highScoringTopics = [];\n\nconst entry = stored.topicScores[topic] || { count: 0, totalScore: 0, avgScore: 0, lastScore: 0 };\nentry.count += 1;\nentry.totalScore += score;\nentry.avgScore = parseFloat((entry.totalScore / entry.count).toFixed(1));\nentry.lastScore = score;\nstored.topicScores[topic] = entry;\n\nif (score >= 42) {\n  stored.highScoringTopics.unshift({ topic, score, hookScore, viralScore, date: new Date().toISOString().split('T')[0] });\n  if (stored.highScoringTopics.length > 30) stored.highScoringTopics = stored.highScoringTopics.slice(0, 30);\n}\n\nconst topicWords = topic.toLowerCase().split(' ').filter(w => w.length > 4);\nconst similarTopics = (stored.highScoringTopics || [])\n  .filter(t => t.topic !== topic && topicWords.some(w => t.topic.toLowerCase().includes(w)))\n  .slice(0, 3)\n  .map(t => t.topic + ' (scored ' + t.score + ')');\n\nconst topPerformers = Object.entries(stored.topicScores || {})\n  .filter(([, v]) => v.count > 0)\n  .sort((a, b) => b[1].avgScore - a[1].avgScore)\n  .slice(0, 5)\n  .map(([t, v]) => t + ': avg ' + v.avgScore);\n\nreturn [{ json: { ...d, qualityInsights: {\n  topicAvgScore: entry.avgScore,\n  topicVideoCount: entry.count,\n  similarHighTopics: similarTopics,\n  topPerformers\n} } }];"},"name":"Quality Insights Tracker","type":"n8n-nodes-base.code","typeVersion":2,"position":[3104,-176],"id":"78a38d92-499b-4bc6-90df-2726d5423974"},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst r = raw.weeklyReport || {};\nconst stored = $getWorkflowStaticData('global');\n\nif (r.trending_thumbnail_style) stored.trendingThumbnailStyle = r.trending_thumbnail_style;\nif (r.trending_caption_style) stored.trendingCaptionStyle = r.trending_caption_style;\nif (r.trending_hook_style) stored.trendingHookStyle = r.trending_hook_style;\nif (r.optimal_video_length_seconds) stored.optimalVideoLength = r.optimal_video_length_seconds;\nif (r.title_pattern_this_week) stored.titlePatternThisWeek = r.title_pattern_this_week;\nstored.trendingStyle = r.trending_thumbnail_style || stored.trendingStyle || 'dramatic cinematic';\nstored.lastTrendUpdate = new Date().toISOString().split('T')[0];\n\nconst updateMsg = 'TREND UPDATE - ' + stored.lastTrendUpdate + '\\n\\n' +\n  'This week top creators are using:\\n' +\n  'Thumbnail: ' + (r.trending_thumbnail_style || 'No change') + '\\n' +\n  'Captions: ' + (r.trending_caption_style || 'No change') + '\\n' +\n  'Hook style: ' + (r.trending_hook_style || 'No change') + '\\n' +\n  'Optimal length: ' + (r.optimal_video_length_seconds || 'No change') + 's\\n' +\n  'Title pattern: ' + (r.title_pattern_this_week || 'No change') + '\\n\\n' +\n  'Defaults updated automatically for next video.';\n\nreturn [{ json: { ...raw, trendUpdateMsg: updateMsg } }];"},"name":"Trend Style Updater","type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,2080],"id":"f2df1034-e7cc-46c3-bc59-71425eb0be8a"},{"parameters":{"chatId":"8370599696","text":"={{ $json.trendUpdateMsg }}","additionalFields":{}},"name":"Send Trend Update","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1600,2080],"id":"e5d9d36a-b7cc-4b65-979c-f28cd142218c","webhookId":"4c1f6535-f3cf-4b27-ac89-f172b433e558","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}}},{"parameters":{"url":"={{ $json.videoUrl }}","options":{"response":{"response":{"responseFormat":"file"}}}},"name":"Download Video for YouTube","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8720,-160],"id":"1a960a18-68f6-4926-9c91-793434cee337"},{"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nconst d = $input.first().json;\nlet thumbUrl = stored.thumbCUrl || '';\nif (!d.error && (d.url || d.data?.[0]?.url)) {\n  thumbUrl = d.url || d.data?.[0]?.url || '';\n  if (thumbUrl) stored.thumbCUrl = thumbUrl;\n}\nreturn [{ json: { ...(stored.pendingVideoData || {}), thumbBUrl: stored.thumbBUrl || '', thumbCUrl: stored.thumbCUrl || '', thumbAUrl: stored.thumbAUrl || '' } }];"},"name":"Carry Data After C","type":"n8n-nodes-base.code","typeVersion":2,"position":[6320,112],"id":"7bf824ec-cf3b-4d14-8878-9842bc835341"},{"parameters":{"jsCode":"const stored = $getWorkflowStaticData(\"global\");\nconst scriptMeta = stored.scriptMeta || {};\nconst renderData = $input.first().json;\nconst isArr = Array.isArray(renderData);\nconst item = isArr ? renderData[0] : renderData;\nconst metaTitle = (item && item.metadata && item.metadata.title) ? item.metadata.title : (scriptMeta.title || \"\");\nconst status = (item && item.status) || \"\";\nconst url = (item && (item.url || item.snapshot_url)) || \"\";\nconst renderId = (item && item.id) || \"\";\n\n// SUCCESS: render finished\nif (status === \"succeeded\" && url) {\n  stored.renderRetryCount = 0;\n  return [{ json: { ...item, url, renderDone: true, title: metaTitle || scriptMeta.title || \"\", hook: scriptMeta.hook || \"\" } }];\n}\n\n// HARD FAIL: Creatomate reported failure\nif (status === \"failed\") {\n  stored.renderRetryCount = 0;\n  const errMsg = (item && item.error_message) || \"Render failed\";\n  return [{ json: { error: true, errorMsg: \"Render failed: \" + errMsg, renderId, renderDone: true, title: scriptMeta.title || \"\", hook: scriptMeta.hook || \"\" } }];\n}\n\n// TIMEOUT: too many retries - set renderDone:true so IF node exits loop\nconst retryCount = (stored.renderRetryCount || 0) + 1;\nstored.renderRetryCount = retryCount;\n\nif (retryCount >= 6) {\n  stored.renderRetryCount = 0;\n  return [{ json: { error: true, errorMsg: \"Render timed out after \" + (retryCount - 1) + \" retries (9+ mins). Last status: \" + status, renderId, renderDone: true, title: scriptMeta.title || \"\", hook: scriptMeta.hook || \"\" } }];\n}\n\n// STILL PROCESSING: renderDone:false so IF node loops back to Wait 90s\nreturn [{ json: { ...(item || {}), renderDone: false, retryCount, renderId, renderStatus: status, title: scriptMeta.title || \"\", hook: scriptMeta.hook || \"\" } }];"},"name":"Check Render Complete","type":"n8n-nodes-base.code","typeVersion":2,"position":[8320,112],"id":"5489fc1d-aea9-4147-9c24-c594dae08349"},{"parameters":{"operation":"sendPhoto","chatId":"8370599696","file":"={{ $json.thumbBUrl || $json.thumbAUrl }}","additionalFields":{"caption":"Option 2 - Close-Up"}},"name":"Send Thumbnail B Photo","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[7232,112],"id":"41bcce0e-81ef-434a-abc2-7a964a61f138","webhookId":"1f092d03-849d-4b6a-9351-d4c4ca59f315","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}},"continueOnFail":true},{"parameters":{"operation":"sendPhoto","chatId":"8370599696","file":"={{ $json.thumbCUrl || $json.thumbAUrl }}","additionalFields":{"caption":"=Option 3 - Epic Wide\n\nReply THUMBNAIL:1, THUMBNAIL:2 or THUMBNAIL:3 to choose"}},"name":"Send Thumbnail C Photo","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[7424,112],"id":"083723e1-0b75-4cb9-9709-3a0a98c44faa","webhookId":"62d3c9db-3105-4a4c-880d-1eb640b1dd1e","credentials":{"telegramApi":{"id":"T3Vwpmu4LoDtxvg3","name":"Telegram account"}},"continueOnFail":true},{"id":"gen-ai-video-clips-001","name":"Generate AI Video Clips","type":"n8n-nodes-base.code","typeVersion":2,"position":[7520,200],"parameters":{"mode":"runOnceForAllItems","jsCode":"const stored = $getWorkflowStaticData(\"global\");\nconst d = stored.pendingVideoData || {};\nconst FAL_KEY = \"YOUR_FAL_AI_API_KEY\";\nconst scriptSegments = d.script_segments || [];\nconst existingUrls = d.videoUrls || [];\n\nif (scriptSegments.length > 0) {\n  const videoUrls = [];\n  for (let i = 0; i < Math.min(3, scriptSegments.length); i++) {\n    const seg = scriptSegments[i];\n    const prompt = seg.visual_prompt || (d.topic + \" cinematic dramatic historical scene South Asian, moody lighting, high contrast\");\n    let added = false;\n\n    // Primary: fal-ai/veo3\n    try {\n      const res = await fetch(\"https://fal.run/fal-ai/veo3\", {\n        method: \"POST\",\n        headers: { \"Authorization\": \"Key \" + FAL_KEY, \"Content-Type\": \"application/json\" },\n        body: JSON.stringify({ prompt: prompt, duration: 5, aspect_ratio: \"9:16\" })\n      });\n      const data = await res.json();\n      if (data.video?.url) { videoUrls.push(data.video.url); added = true; }\n      else if (data.url) { videoUrls.push(data.url); added = true; }\n    } catch(e) {}\n\n    if (!added) {\n      // Fallback: fal-ai/seedance-v1-5-lite\n      try {\n        const res2 = await fetch(\"https://fal.run/fal-ai/seedance-v1-5-lite\", {\n          method: \"POST\",\n          headers: { \"Authorization\": \"Key \" + FAL_KEY, \"Content-Type\": \"application/json\" },\n          body: JSON.stringify({ prompt: prompt, duration: 5 })\n        });\n        const data2 = await res2.json();\n        if (data2.video?.url) { videoUrls.push(data2.video.url); added = true; }\n        else if (data2.url) { videoUrls.push(data2.url); added = true; }\n      } catch(e2) {}\n    }\n\n    // Final fallback: use existing Pexels URLs\n    if (!added && existingUrls[i]) videoUrls.push(existingUrls[i]);\n  }\n\n  const allUrls = [...videoUrls, ...existingUrls].filter((u,i,a) => u && a.indexOf(u)===i);\n  stored.pendingVideoData = { ...d, aiVideoUrls: videoUrls, videoUrls: allUrls };\n  return [{ json: { ...d, aiVideoUrls: videoUrls, videoUrls: allUrls } }];\n}\n\n// No segments: pass through existing video URLs\nreturn [{ json: { ...d, aiVideoUrls: [], videoUrls: existingUrls } }];"}},{"id":"f7a3c091-8d4e-4b12-9e56-2c1a7b3d5f8e","name":"Is Render Done?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[8448,320],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"render-done","leftValue":"={{ $json.renderDone }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"9d47867e-9f2a-439d-a50b-a5911a91b6a3","name":"Is MODEL?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1900,800],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"b2ff16bd-8330-4f1c-94a5-84c1be47a730","leftValue":"={{ $json.action }}","rightValue":"MODEL","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"183b50e8-c220-49ee-ac5f-d77c981a7f0c","name":"Is MODEL LIST?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2150,800],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"93a25390-fef1-43ae-ad9d-aff2ba5430c1","leftValue":"={{ $json.modelAction }}","rightValue":"LIST","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"4d7c14eb-0758-42a4-a4ea-2f4c413c4bd7","name":"Model LIST Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,600],"parameters":{"jsCode":"const https = require('https');\nconst d = $input.first().json;\nconst BOT_TOKEN = 'YOUR_TELEGRAM_BOT_TOKEN';\nconst CHAT_ID = '8370599696';\nconst msg = `🤖 Available AI Models:\n\n👗 AISHA - Fashion & Luxury (Instagram + YouTube Shorts)\n💪 SOFIA - Fitness & Health (TikTok + Instagram)\n✈️ LUNA - Travel & Adventure (YouTube Shorts + TikTok)\n💎 MAYA - Luxury Lifestyle (Instagram + TikTok)\n🌸 ZARA - Casual Lifestyle (TikTok + Instagram)\n🎨 CUSTOM - Your own description\n\nUsage: MODEL: [NAME] [scene description]\n\nExamples:\nMODEL: AISHA walking Dubai Mall red dress golden hour\nMODEL: SOFIA morning run Malibu beach sunrise\nMODEL: LUNA exploring Tokyo night markets\nMODEL: MAYA luxury spa day Dubai resort\nMODEL: ZARA coffee shop studying aesthetic\nMODEL: CUSTOM beautiful woman Paris cafe reading book`;\nconst body = JSON.stringify({ chat_id: CHAT_ID, text: msg });\nawait new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'api.telegram.org',\n    path: `/bot${BOT_TOKEN}/sendMessage`,\n    method: 'POST',\n    headers: { 'content-type': 'application/json', 'content-length': Buffer.byteLength(body) }\n  }, res => { let r=''; res.on('data',c=>r+=c); res.on('end',()=>resolve()); });\n  req.on('error', reject); req.write(body); req.end();\n});\nreturn [{ json: { ...d, sent: true } }];"}},{"id":"0e26b406-d28d-43c5-9934-6b139187e093","name":"Generate AI Model Video","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,1100],"parameters":{"jsCode":"const https = require('https');\nconst stored = $getWorkflowStaticData('global');\nconst d = $input.first().json;\nconst FAL_KEY = 'YOUR_FAL_AI_API_KEY';\n\nconst modelName = (d.modelName || 'CUSTOM').toUpperCase();\nconst sceneDesc = d.modelScene || d.sceneDesc || 'lifestyle photography';\nconst autoPost = d.autoPost || false;\n\nconst models = {\n  AISHA: {\n    prompt: `elegant South Asian female model, 25 years old, long dark hair, golden warm skin, high cheekbones, ${sceneDesc}, Vogue magazine editorial quality, cinematic dramatic lighting, fashion photography, 4K ultra realistic, no text, no watermark`,\n    captions: ['Luxury is a mindset \\u{1F451}', 'Elegance never fades \\u2728', 'Dressed in confidence \\u{1F4AB}'],\n    hashtags: '#fashion #luxury #southasianmodel #editorial #ootd #style #vogue',\n    platforms: ['instagram', 'youtube_shorts']\n  },\n  SOFIA: {\n    prompt: `athletic mixed ethnicity female, 24, dark curly hair, fit toned physique, ${sceneDesc}, Nike Lululemon athleisure aesthetic, natural outdoor lighting, motivational energy, sports photography, 4K realistic, no text, no watermark`,\n    captions: ['Your only competition is yesterday\\u2019s you \\u{1F4AA}', 'Stronger every day \\u{1F525}', 'Earn it every morning \\u26A1'],\n    hashtags: '#fitness #gym #workout #fitnessmotivation #athleisure #health #strong',\n    platforms: ['tiktok', 'instagram']\n  },\n  LUNA: {\n    prompt: `young East Asian female, 23, straight black hair, petite adventurous style, ${sceneDesc}, golden hour travel photography, Canon camera aesthetic, lifestyle travel blogger, cinematic, 4K realistic, no text, no watermark`,\n    captions: ['Not all who wander are lost \\u2708\\uFE0F', 'Every place has a story \\u{1F30D}', 'Collect moments not things \\u{1F4F8}'],\n    hashtags: '#travel #wanderlust #travelblogger #explore #adventure #travelgram #world',\n    platforms: ['youtube_shorts', 'tiktok']\n  },\n  MAYA: {\n    prompt: `glamorous Middle Eastern female, 26, voluminous dark hair, olive skin, ${sceneDesc}, Dubai luxury lifestyle aesthetic, golden warm lighting, high end lifestyle photography, Vogue Arabia style, 4K realistic, no text, no watermark`,\n    captions: ['Life is short, make it beautiful \\u2728', 'Glam is not extra, it\\u2019s essential \\u{1F48E}', 'Living in full bloom \\u{1F339}'],\n    hashtags: '#lifestyle #luxury #beauty #glamour #arabianbeauty #dubai #aesthetic',\n    platforms: ['instagram', 'tiktok']\n  },\n  ZARA: {\n    prompt: `young Western female, 22, blonde highlights, blue eyes, girl-next-door look, ${sceneDesc}, casual lifestyle photography, warm natural light, relatable authentic feel, TikTok aesthetic, 4K realistic, no text, no watermark`,\n    captions: ['Just a girl living her best life \\u{1F338}', 'Main character energy always \\u2728', 'Good vibes only \\u{1F49B}'],\n    hashtags: '#lifestyle #girl #aesthetic #dailyvlog #trending #fyp #vibes',\n    platforms: ['tiktok', 'instagram']\n  },\n  CUSTOM: {\n    prompt: `${sceneDesc}, cinematic 4K, realistic human model, professional photography, no text, no watermark`,\n    captions: ['Living my best life \\u2728'],\n    hashtags: '#lifestyle #content #creator',\n    platforms: ['instagram', 'tiktok']\n  }\n};\n\nconst model = models[modelName] || models.CUSTOM;\nconst caption = model.captions[Math.floor(Math.random() * model.captions.length)];\n\nlet requestId = '', videoUrl = '';\ntry {\n  const reqBody = JSON.stringify({\n    prompt: model.prompt,\n    duration: '10',\n    aspect_ratio: '9:16',\n    negative_prompt: 'blurry, low quality, distorted face, ugly, unrealistic, cartoon, anime, text, watermark, disfigured'\n  });\n  const falRes = await new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'queue.fal.run',\n      path: '/fal-ai/kling-video/v2.1/master',\n      method: 'POST',\n      headers: { 'Authorization': 'Key ' + FAL_KEY, 'Content-Type': 'application/json', 'content-length': Buffer.byteLength(reqBody) }\n    }, res => { let raw=''; res.on('data',c=>raw+=c); res.on('end',()=>{ try{resolve(JSON.parse(raw));}catch(e){resolve({error:raw});} }); });\n    req.on('error', reject); req.write(reqBody); req.end();\n  });\n  requestId = falRes.request_id || '';\n  videoUrl = (falRes.output && falRes.output.video && falRes.output.video.url) || '';\n} catch(e) { requestId = ''; videoUrl = ''; }\n\nstored.pendingModelVideo = {\n  modelName, sceneDesc, requestId, videoUrl, caption,\n  hashtags: model.hashtags, platforms: model.platforms,\n  autoPost, submittedAt: new Date().toISOString(),\n  readyAt: videoUrl ? new Date().toISOString() : ''\n};\n\nreturn [{ json: { modelName, sceneDesc, requestId, videoUrl, caption, hashtags: model.hashtags, platforms: model.platforms, autoPost, done: !!videoUrl } }];"}},{"id":"df64aaed-0b47-4f49-bd21-85943be76444","name":"Wait 3 Mins Model","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2800,1100],"parameters":{"amount":180,"unit":"seconds"}},{"id":"1db4d386-68e8-49ee-a1a1-c21e6c91af44","name":"Poll Model Video Status","type":"n8n-nodes-base.code","typeVersion":2,"position":[3200,1100],"parameters":{"jsCode":"const https = require('https');\nconst stored = $getWorkflowStaticData('global');\nconst d = $input.first().json;\nconst FAL_KEY = 'YOUR_FAL_AI_API_KEY';\n\nif (d.videoUrl && d.videoUrl.startsWith('http')) {\n  if (stored.pendingModelVideo) { stored.pendingModelVideo.videoUrl = d.videoUrl; stored.pendingModelVideo.readyAt = new Date().toISOString(); }\n  return [{ json: { ...d, done: true } }];\n}\n\nconst requestId = d.requestId || (stored.pendingModelVideo && stored.pendingModelVideo.requestId) || '';\nif (!requestId) return [{ json: { ...d, done: true, error: true, errorMsg: 'No request ID' } }];\n\nlet videoUrl = '', done = false, error = false;\ntry {\n  const pollRes = await new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'queue.fal.run',\n      path: `/fal-ai/kling-video/v2.1/master/requests/${requestId}`,\n      method: 'GET',\n      headers: { 'Authorization': 'Key ' + FAL_KEY }\n    }, res => { let raw=''; res.on('data',c=>raw+=c); res.on('end',()=>{ try{resolve(JSON.parse(raw));}catch(e){resolve({status:'UNKNOWN'});} }); });\n    req.on('error', reject); req.end();\n  });\n  const status = (pollRes.status || '').toUpperCase();\n  if (status === 'COMPLETED') {\n    videoUrl = (pollRes.output && pollRes.output.video && pollRes.output.video.url) || '';\n    done = true;\n  } else if (status === 'FAILED') { done = true; error = true; }\n  else { done = false; }\n} catch(e) { done = false; }\n\nif (videoUrl && stored.pendingModelVideo) {\n  stored.pendingModelVideo.videoUrl = videoUrl;\n  stored.pendingModelVideo.readyAt = new Date().toISOString();\n}\nreturn [{ json: { ...d, videoUrl, done, error, requestId } }];"}},{"id":"97826c86-738e-48ee-8b8d-0b15d5f47e0a","name":"Is Model Video Done?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3500,1100],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"eeaec6cf-8b57-4265-88d4-f72f2a666a29","leftValue":"={{ $json.done }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"f7b0b182-18c8-4743-94a3-7fe96779ed11","name":"Model Thumbnail","type":"n8n-nodes-base.code","typeVersion":2,"position":[3800,1100],"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nconst d = $input.first().json;\nconst modelName = d.modelName || 'CUSTOM';\nconst sceneDesc = d.sceneDesc || 'lifestyle';\n\nconst promptMap = {\n  AISHA: 'elegant South Asian female model, high fashion editorial, cinematic portrait',\n  SOFIA: 'athletic female fitness model, gym workout, motivational energy',\n  LUNA: 'East Asian female travel blogger, golden hour adventure',\n  MAYA: 'glamorous Middle Eastern female, luxury lifestyle Dubai',\n  ZARA: 'young Western female, casual lifestyle aesthetic TikTok'\n};\nconst basePrompt = promptMap[modelName] || 'professional female model';\nconst thumbUrl = 'https://image.pollinations.ai/prompt/' + encodeURIComponent(basePrompt + ', ' + sceneDesc + ', dark background, cinematic portrait, 4K') + '?width=1080&height=1920&nologo=true';\n\nif (stored.pendingModelVideo) stored.pendingModelVideo.thumbUrl = thumbUrl;\nreturn [{ json: { ...d, thumbUrl } }];"}},{"id":"8a379c2c-f7ef-4cd2-9bdf-64c24dfc20c6","name":"Send Model Video Approval","type":"n8n-nodes-base.code","typeVersion":2,"position":[4150,1100],"parameters":{"jsCode":"const https = require('https');\nconst stored = $getWorkflowStaticData('global');\nconst d = $input.first().json;\nconst BOT_TOKEN = 'YOUR_TELEGRAM_BOT_TOKEN';\nconst CHAT_ID = '8370599696';\n\nconst modelName = d.modelName || 'MODEL';\nconst sceneDesc = d.sceneDesc || '';\nconst caption = d.caption || 'Living my best life \\u2728';\nconst hashtags = d.hashtags || '';\nconst platforms = (d.platforms || []).join(', ');\nconst videoUrl = d.videoUrl || '';\nconst thumbUrl = d.thumbUrl || '';\nconst autoPost = d.autoPost || false;\n\n// Thumb always — send via sendPhoto with info\nconst thumbCaption = `📸 Model: ${modelName}\\nScene: ${sceneDesc}\\n\\nCaption: \\u201C${caption}\\u201D\\n\\nHashtags: ${hashtags}\\n\\nPlatforms: ${platforms}`;\nif (thumbUrl) {\n  const photoBody = JSON.stringify({ chat_id: CHAT_ID, photo: thumbUrl, caption: thumbCaption });\n  await new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'api.telegram.org',\n      path: `/bot${BOT_TOKEN}/sendPhoto`,\n      method: 'POST',\n      headers: { 'content-type': 'application/json', 'content-length': Buffer.byteLength(photoBody) }\n    }, res => { let r=''; res.on('data',c=>r+=c); res.on('end',()=>resolve()); });\n    req.on('error', reject); req.write(photoBody); req.end();\n  });\n}\n\nconst approvalText = autoPost\n  ? `🤖 AUTO-POSTED: ${modelName}\\n\\nScene: ${sceneDesc}\\nPosted to: ${platforms}\\nCaption: \\u201C${caption}\\u201D\\n\\nVideo: ${videoUrl || 'Processing...'}`\n  : `🎬 MODEL VIDEO READY\\n\\nModel: ${modelName}\\nScene: ${sceneDesc}\\nVideo: ${videoUrl || 'No video (thumbnail only)'}\\n\\nPUBLISH \\u2014 Post to ${platforms}\\nREJECT \\u2014 Discard\\nEDIT: [notes] \\u2014 Redo`;\n\nconst msgBody = JSON.stringify({ chat_id: CHAT_ID, text: approvalText });\nawait new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'api.telegram.org',\n    path: `/bot${BOT_TOKEN}/sendMessage`,\n    method: 'POST',\n    headers: { 'content-type': 'application/json', 'content-length': Buffer.byteLength(msgBody) }\n  }, res => { let r=''; res.on('data',c=>r+=c); res.on('end',()=>resolve()); });\n  req.on('error', reject); req.write(msgBody); req.end();\n});\n\nif (stored.pendingModelVideo) stored.pendingModelVideo.sentForApproval = new Date().toISOString();\nif (autoPost && stored.pendingModelVideo) stored.pendingModelVideo.published = true;\nreturn [{ json: { ...d, sent: true, pendingApproval: !autoPost } }];"}},{"id":"bf420570-c5e2-41a6-81ae-04ee23f8dd36","name":"Check Publish Type","type":"n8n-nodes-base.code","typeVersion":2,"position":[8400,350],"parameters":{"jsCode":"const stored = $getWorkflowStaticData('global');\nconst d = $input.first().json;\nconst pmv = stored.pendingModelVideo || {};\nconst isModelPublish = !!(pmv.videoUrl && pmv.sentForApproval && !pmv.published);\nreturn [{ json: { ...d, isModelPublish, pendingModelVideo: pmv } }];"}},{"id":"c22fc376-0690-4111-ae7f-a5edcc815248","name":"Is Model Video PUBLISH?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[8650,500],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"3a93f399-b483-43cd-a92f-84d93e4ffe06","leftValue":"={{ $json.isModelPublish }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"af91cb25-057a-4f9d-8844-e63ee5ee3405","name":"Post Model to Platforms","type":"n8n-nodes-base.code","typeVersion":2,"position":[9000,650],"parameters":{"jsCode":"const https = require('https');\nconst stored = $getWorkflowStaticData('global');\nconst d = $input.first().json;\nconst pmv = d.pendingModelVideo || stored.pendingModelVideo || {};\nconst BOT_TOKEN = 'YOUR_TELEGRAM_BOT_TOKEN';\nconst CHAT_ID = '8370599696';\n\nconst platforms = pmv.platforms || ['instagram', 'tiktok'];\nconst videoUrl = pmv.videoUrl || '';\nconst caption = pmv.caption || 'Living my best life \\u2728';\nconst hashtags = pmv.hashtags || '';\nconst modelName = pmv.modelName || 'MODEL';\n\nif (stored.pendingModelVideo) {\n  stored.pendingModelVideo.published = true;\n  stored.pendingModelVideo.publishedAt = new Date().toISOString();\n}\n\nconst confirmMsg = `\\u2705 PUBLISHED: ${modelName}\\n\\nPlatforms: ${platforms.join(', ')}\\nCaption: \\u201C${caption}\\u201D\\n${hashtags}\\n\\nVideo: ${videoUrl}\\n\\n💰 Revenue:\\n- Post affiliate link in bio\\n- Tag brand partners\\n- Reply to first 5 comments for engagement boost`;\nconst body = JSON.stringify({ chat_id: CHAT_ID, text: confirmMsg });\nawait new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'api.telegram.org',\n    path: `/bot${BOT_TOKEN}/sendMessage`,\n    method: 'POST',\n    headers: { 'content-type': 'application/json', 'content-length': Buffer.byteLength(body) }\n  }, res => { let r=''; res.on('data',c=>r+=c); res.on('end',()=>resolve()); });\n  req.on('error', reject); req.write(body); req.end();\n});\nreturn [{ json: { ...d, published: true, publishedPlatforms: platforms, videoUrl, modelName } }];"}},{"id":"0eab91e0-0008-41d0-be74-24f3a4649955","name":"Model Auto 9am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[752,1600],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}}},{"id":"3882c0d5-e048-48ad-a2a2-ab421775935a","name":"Model Auto 1pm","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[1000,1600],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 13 * * *"}]}}},{"id":"e02546d8-2987-4ff1-a549-9a17af05c04b","name":"Model Auto 6pm","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[1250,1600],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 18 * * *"}]}}},{"id":"fc087915-40f0-4f3b-856f-42674bd8320c","name":"Auto Generate Model Scene","type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,1600],"parameters":{"jsCode":"const d = $input.first().json;\nconst now = new Date();\nconst hour = now.getHours();\nconst day = now.getDay();\n\nlet modelName, modelScene;\nif (hour < 12) {\n  modelName = 'AISHA';\n  const scenes = ['morning coffee luxury hotel rooftop', 'editorial photoshoot golden hour', 'walking through high fashion district', 'getting ready in penthouse suite'];\n  modelScene = scenes[day % scenes.length];\n} else if (hour < 17) {\n  modelName = 'SOFIA';\n  const scenes = ['midday run along ocean beach', 'outdoor workout park', 'post-gym smoothie bar', 'yoga rooftop city view'];\n  modelScene = scenes[day % scenes.length];\n} else {\n  modelName = day % 2 === 0 ? 'LUNA' : 'MAYA';\n  if (modelName === 'LUNA') {\n    const scenes = ['sunset famous landmark', 'exploring night market', 'golden hour mountain view', 'beach sunset'];\n    modelScene = scenes[day % scenes.length];\n  } else {\n    const scenes = ['evening luxury rooftop bar', 'glamorous dinner Dubai', 'luxury spa treatment', 'yacht sunset cruise'];\n    modelScene = scenes[day % scenes.length];\n  }\n}\nreturn [{ json: { modelName, modelScene, modelAction: 'GENERATE', action: 'MODEL', autoPost: true } }];"}}],"connections":{"Daily 9AM Auto-Run":{"main":[[{"node":"Command Parser v6","type":"main","index":0}]]},"Telegram Listener":{"main":[[{"node":"Command Parser v6","type":"main","index":0}]]},"WhatsApp Webhook":{"main":[[{"node":"Command Parser v6","type":"main","index":0}]]},"Command Parser v6":{"main":[[{"node":"Security Gate","type":"main","index":0}]]},"Security Gate":{"main":[[{"node":"Is Blocked?","type":"main","index":0}]]},"Is Blocked?":{"main":[[{"node":"Security Alert","type":"main","index":0}],[{"node":"Is CREATE?","type":"main","index":0}]]},"Is CREATE?":{"main":[[{"node":"Memory & Taste Tracker v6","type":"main","index":0}],[{"node":"Is MY VIDEO EDIT?","type":"main","index":0}]]},"Is MY VIDEO EDIT?":{"main":[[{"node":"Get Telegram File URL","type":"main","index":0}],[{"node":"Is MODEL?","type":"main","index":0}]]},"Is PUBLISH?":{"main":[[{"node":"Check Publish Type","type":"main","index":0}],[{"node":"Is DRAMA SERIES?","type":"main","index":0}]]},"Is DRAMA SERIES?":{"main":[[{"node":"Drama Script Generator","type":"main","index":0}],[{"node":"Is VOICETEST?","type":"main","index":0}]]},"Is VOICETEST?":{"main":[[{"node":"VoiceTest Script Generator","type":"main","index":0}],[{"node":"Is LANG HINDI?","type":"main","index":0}]]},"Is LANG HINDI?":{"main":[[{"node":"Memory & Taste Tracker v6","type":"main","index":0}],[{"node":"Is STATUS?","type":"main","index":0}]]},"Is STATUS?":{"main":[[{"node":"Status Check","type":"main","index":0}],[{"node":"Is PAUSE?","type":"main","index":0}]]},"Is PAUSE?":{"main":[[{"node":"Pause Handler","type":"main","index":0}],[{"node":"Is RESUME?","type":"main","index":0}]]},"Is RESUME?":{"main":[[{"node":"Resume Handler","type":"main","index":0}],[{"node":"Is COST?","type":"main","index":0}]]},"Is COST?":{"main":[[{"node":"Cost Report Handler","type":"main","index":0}],[{"node":"Is SECURITY LOG?","type":"main","index":0}]]},"Is SECURITY LOG?":{"main":[[{"node":"Security Log Handler","type":"main","index":0}],[{"node":"Is VOICE REPORT?","type":"main","index":0}]]},"Is VOICE REPORT?":{"main":[[{"node":"Voice Report Handler","type":"main","index":0}],[{"node":"Is THUMBNAIL PICK?","type":"main","index":0}]]},"Is THUMBNAIL PICK?":{"main":[[{"node":"Thumbnail Pick Handler","type":"main","index":0}],[{"node":"Is REJECT?","type":"main","index":0}]]},"Is REJECT?":{"main":[[{"node":"Reject Notify","type":"main","index":0}],[{"node":"Send Help v6","type":"main","index":0}]]},"Status Check":{"main":[[{"node":"Send Status","type":"main","index":0}]]},"Pause Handler":{"main":[[{"node":"Send Pause Confirm","type":"main","index":0}]]},"Resume Handler":{"main":[[{"node":"Send Resume Confirm","type":"main","index":0}]]},"Cost Report Handler":{"main":[[{"node":"Send Cost Report","type":"main","index":0}]]},"Security Log Handler":{"main":[[{"node":"Send Security Log","type":"main","index":0}]]},"Voice Report Handler":{"main":[[{"node":"Send Voice Report","type":"main","index":0}]]},"Thumbnail Pick Handler":{"main":[[{"node":"Send Thumbnail Confirm","type":"main","index":0}]]},"Trend Check":{"main":[[{"node":"Parse Trend","type":"main","index":0}]]},"Parse Trend":{"main":[[{"node":"Claude Research & Script","type":"main","index":0}]]},"Claude Research & Script":{"main":[[{"node":"Parse Script v6","type":"main","index":0}]]},"Parse Script v6":{"main":[[{"node":"Quality Gate Claude","type":"main","index":0}]]},"Quality Gate Claude":{"main":[[{"node":"Parse Quality","type":"main","index":0}]]},"Parse Quality":{"main":[[{"node":"Quality Insights Tracker","type":"main","index":0}]]},"Quality OK?":{"main":[[{"node":"Voice Intelligence Claude","type":"main","index":0}],[{"node":"Rewrite Script Claude","type":"main","index":0}]]},"Rewrite Script Claude":{"main":[[{"node":"Parse Rewrite","type":"main","index":0}]]},"Parse Rewrite":{"main":[[{"node":"Voice Intelligence Claude","type":"main","index":0}]]},"Voice Intelligence Claude":{"main":[[{"node":"Parse Voice Selection","type":"main","index":0}]]},"Parse Voice Selection":{"main":[[{"node":"Is Hindi?","type":"main","index":0}]]},"Is Hindi?":{"main":[[{"node":"Language Translator Claude","type":"main","index":0}],[{"node":"Smart Video Router v6","type":"main","index":0}]]},"Language Translator Claude":{"main":[[{"node":"Parse Translation","type":"main","index":0}]]},"Drama Script Generator":{"main":[[{"node":"Parse Drama Script","type":"main","index":0}]]},"Parse Drama Script":{"main":[[{"node":"Send Drama Approval","type":"main","index":0}]]},"VoiceTest Script Generator":{"main":[[{"node":"Parse VoiceTest Script","type":"main","index":0}]]},"Parse VoiceTest Script":{"main":[[{"node":"VoiceTest Taksh Audio","type":"main","index":0}]]},"VoiceTest Taksh Audio":{"main":[[{"node":"Send Taksh Audio","type":"main","index":0}]]},"Send Taksh Audio":{"main":[[{"node":"VoiceTest Bridge","type":"main","index":0}]]},"VoiceTest Bridge":{"main":[[{"node":"VoiceTest Max Audio","type":"main","index":0}]]},"VoiceTest Max Audio":{"main":[[{"node":"Send Max Audio","type":"main","index":0}]]},"Send Max Audio":{"main":[[{"node":"Send VoiceTest Instructions","type":"main","index":0}]]},"Smart Video Router v6":{"main":[[{"node":"AI Video or Pexels?","type":"main","index":0}]]},"AI Video or Pexels?":{"main":[[{"node":"Google Veo Free - Clip 1","type":"main","index":0},{"node":"Google Veo Free - Clip 2","type":"main","index":0},{"node":"Seedance Free Fallback","type":"main","index":0},{"node":"Kling Premium Clip 1","type":"main","index":0},{"node":"Kling Premium Clip 2","type":"main","index":0},{"node":"Kling Premium Clip 3","type":"main","index":0}],[{"node":"Pexels Stock Footage","type":"main","index":0}]]},"Google Veo Free - Clip 1":{"main":[[{"node":"Merge Video Assets","type":"main","index":0}]]},"Google Veo Free - Clip 2":{"main":[[{"node":"Merge Video Assets","type":"main","index":0}]]},"Seedance Free Fallback":{"main":[[{"node":"Merge Video Assets","type":"main","index":0}]]},"Kling Premium Clip 1":{"main":[[{"node":"Merge Video Assets","type":"main","index":0}]]},"Kling Premium Clip 2":{"main":[[{"node":"Merge Video Assets","type":"main","index":0}]]},"Kling Premium Clip 3":{"main":[[{"node":"Merge Video Assets","type":"main","index":0}]]},"Pexels Stock Footage":{"main":[[{"node":"Merge Video Assets","type":"main","index":0}]]},"Merge Video Assets":{"main":[[{"node":"DALL-E Thumbnail A","type":"main","index":0}]]},"DALL-E Thumbnail A":{"main":[[{"node":"Carry Data After A","type":"main","index":0}]]},"Carry Data After A":{"main":[[{"node":"DALL-E Thumbnail B","type":"main","index":0}]]},"DALL-E Thumbnail B":{"main":[[{"node":"Carry Data After B","type":"main","index":0}]]},"Carry Data After B":{"main":[[{"node":"DALL-E Thumbnail C","type":"main","index":0}]]},"DALL-E Thumbnail C":{"main":[[{"node":"Carry Data After C","type":"main","index":0}]]},"Collect All Thumbnails":{"main":[[{"node":"Claude Picks Best Thumbnail","type":"main","index":0}]]},"Claude Picks Best Thumbnail":{"main":[[{"node":"Parse Thumbnail Pick","type":"main","index":0}]]},"Parse Thumbnail Pick":{"main":[[{"node":"Send 3 Thumbnails to Telegram","type":"main","index":0}]]},"Send 3 Thumbnails to Telegram":{"main":[[{"node":"Send Thumbnail B Photo","type":"main","index":0}]]},"Prep ElevenLabs":{"main":[[{"node":"ElevenLabs Voiceover v6","type":"main","index":0}]]},"ElevenLabs Voiceover v6":{"main":[[{"node":"Generate AI Video Clips","type":"main","index":0}]]},"Build Render Payload v6":{"main":[[{"node":"Creatomate Render","type":"main","index":0}]]},"Creatomate Render":{"main":[[{"node":"Wait 90s Render","type":"main","index":0}]]},"Wait 90s Render":{"main":[[{"node":"Poll Render Status","type":"main","index":0}]]},"Get Telegram File URL":{"main":[[{"node":"Prepare User Video","type":"main","index":0}]]},"Prepare User Video":{"main":[[{"node":"Claude Video Editor Brain","type":"main","index":0}]]},"Claude Video Editor Brain":{"main":[[{"node":"Build User Video Edit","type":"main","index":0}]]},"Build User Video Edit":{"main":[[{"node":"Creatomate Render","type":"main","index":0}]]},"Build Approval Message v6":{"main":[[{"node":"Telegram Approval","type":"main","index":0},{"node":"WhatsApp Approval","type":"main","index":0}]]},"Load Pending Video":{"main":[[{"node":"Instagram Reels","type":"main","index":0},{"node":"TikTok Upload","type":"main","index":0},{"node":"Facebook Reels","type":"main","index":0},{"node":"Snapchat Spotlight","type":"main","index":0},{"node":"YouTube Shorts","type":"main","index":0},{"node":"Download Video for YouTube","type":"main","index":0}]]},"YouTube Upload":{"main":[[{"node":"Log Video to Sheets","type":"main","index":0}]]},"Instagram Reels":{"main":[[{"node":"Log Video to Sheets","type":"main","index":0}]]},"TikTok Upload":{"main":[[{"node":"Log Video to Sheets","type":"main","index":0}]]},"Facebook Reels":{"main":[[{"node":"Log Video to Sheets","type":"main","index":0}]]},"Snapchat Spotlight":{"main":[[{"node":"Log Video to Sheets","type":"main","index":0}]]},"YouTube Shorts":{"main":[[{"node":"Log Video to Sheets","type":"main","index":0}]]},"Log Video to Sheets":{"main":[[{"node":"Log Voice Analytics","type":"main","index":0}]]},"Log Voice Analytics":{"main":[[{"node":"Log Cost Tracker","type":"main","index":0}]]},"Log Cost Tracker":{"main":[[{"node":"Log Cost to Sheets","type":"main","index":0}]]},"Log Cost to Sheets":{"main":[[{"node":"Check Monthly Budget","type":"main","index":0}]]},"Check Monthly Budget":{"main":[[{"node":"Budget Alert Telegram","type":"main","index":0},{"node":"Success Notify v6","type":"main","index":0}],[{"node":"Success Notify v6","type":"main","index":0}]]},"Success Notify v6":{"main":[[{"node":"WhatsApp Success","type":"main","index":0}]]},"Generate Weekly Report":{"main":[[{"node":"Parse Weekly Report","type":"main","index":0}]]},"Parse Weekly Report":{"main":[[{"node":"Send Weekly Report","type":"main","index":0}]]},"Voice Trend Detector":{"main":[[{"node":"Parse Voice Trend","type":"main","index":0}]]},"Parse Voice Trend":{"main":[[{"node":"Send Voice Trend","type":"main","index":0}]]},"API Health Check":{"main":[[{"node":"Send Health Report","type":"main","index":0}]]},"Weekly Monday Trigger":{"main":[[{"node":"Load Weekly Data","type":"main","index":0},{"node":"Voice Trend Detector","type":"main","index":0}]]},"Daily 8AM Health Check":{"main":[[{"node":"API Health Check","type":"main","index":0}]]},"Memory & Taste Tracker v6":{"main":[[{"node":"Trend Check","type":"main","index":0}]]},"Parse Translation":{"main":[[{"node":"Smart Video Router v6","type":"main","index":0}]]},"Poll Render Status":{"main":[[{"node":"Check Render Complete","type":"main","index":0}]]},"Load Weekly Data":{"main":[[{"node":"Generate Weekly Report","type":"main","index":0}]]},"Quality Insights Tracker":{"main":[[{"node":"Quality OK?","type":"main","index":0}]]},"Send Weekly Report":{"main":[[{"node":"Trend Style Updater","type":"main","index":0}]]},"Trend Style Updater":{"main":[[{"node":"Send Trend Update","type":"main","index":0}]]},"Download Video for YouTube":{"main":[[{"node":"YouTube Upload","type":"main","index":0}]]},"Carry Data After C":{"main":[[{"node":"Collect All Thumbnails","type":"main","index":0}]]},"Check Render Complete":{"main":[[{"node":"Is Render Done?","type":"main","index":0}]]},"Send Thumbnail B Photo":{"main":[[{"node":"Send Thumbnail C Photo","type":"main","index":0}]]},"Send Thumbnail C Photo":{"main":[[{"node":"Prep ElevenLabs","type":"main","index":0}]]},"Generate AI Video Clips":{"main":[[{"node":"Build Render Payload v6","type":"main","index":0}]]},"Is Render Done?":{"main":[[{"node":"Build Approval Message v6","type":"main","index":0}],[{"node":"Wait 90s Render","type":"main","index":0}]]},"Is MODEL?":{"main":[[{"node":"Is MODEL LIST?","type":"main","index":0}],[{"node":"Is PUBLISH?","type":"main","index":0}]]},"Is MODEL LIST?":{"main":[[{"node":"Model LIST Response","type":"main","index":0}],[{"node":"Generate AI Model Video","type":"main","index":0}]]},"Model LIST Response":{"main":[[]]},"Generate AI Model Video":{"main":[[{"node":"Wait 3 Mins Model","type":"main","index":0}]]},"Wait 3 Mins Model":{"main":[[{"node":"Poll Model Video Status","type":"main","index":0}]]},"Poll Model Video Status":{"main":[[{"node":"Is Model Video Done?","type":"main","index":0}]]},"Is Model Video Done?":{"main":[[{"node":"Model Thumbnail","type":"main","index":0}],[{"node":"Wait 3 Mins Model","type":"main","index":0}]]},"Model Thumbnail":{"main":[[{"node":"Send Model Video Approval","type":"main","index":0}]]},"Send Model Video Approval":{"main":[[]]},"Check Publish Type":{"main":[[{"node":"Is Model Video PUBLISH?","type":"main","index":0}]]},"Is Model Video PUBLISH?":{"main":[[{"node":"Post Model to Platforms","type":"main","index":0}],[{"node":"Load Pending Video","type":"main","index":0}]]},"Post Model to Platforms":{"main":[[]]},"Model Auto 9am":{"main":[[{"node":"Auto Generate Model Scene","type":"main","index":0}]]},"Model Auto 1pm":{"main":[[{"node":"Auto Generate Model Scene","type":"main","index":0}]]},"Model Auto 6pm":{"main":[[{"node":"Auto Generate Model Scene","type":"main","index":0}]]},"Auto Generate Model Scene":{"main":[[{"node":"Generate AI Model Video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null}